<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>네이버 로그인</title>
  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
  <!-- 네이버 로그인 버튼 노출 영역 -->
  <div id="naver_id_login"></div>
  
  
  <!-- 카카오 로그인 단추 -->
  <a href="javascript:kakaoLogin()"><img src="/images/kakao2.png" height = "50px" width = "105">
  </a>
	
	
 
		
  <script src="https://developers.kakao.com/sdk/js/kakao.js">
  
  </script>
	 
  
	  
  
  <!-- //네이버 로그인 버튼 노출 영역 -->
  <script type="text/javascript">
  
  
  	var naver_id_login = new naver_id_login("vxh145bWQFSDtIjlhEBE", "http://localhost:8080/naverlogin");
  	var state = naver_id_login.getUniqState();
  	naver_id_login.setButton("white", 2,40);
  	naver_id_login.setDomain("http://localhost:8080/");
  	naver_id_login.setState(state);
  	//naver_id_login.setPopup();
  	naver_id_login.init_naver_id_login();
  </script>
  
  
  
  
  <script>
  
  Kakao.init("9eda72310d10e70186b843a0809cac6c");
   	function kakaoLogin() {
		window.Kakao.Auth.login({
			// 개발자 사이트에서 체크한 항목들과 반드시 일치해야 한다. 
			scope:'account_email',
			success: function (authObj) {window.Kakao.API.request({url:'/v2/user/me',
				success:res => {const kakaoAccount = res.kakao_account;
				location.href='/logincheck?email=' + kakaoAccount.email;}
			});
		}
});
}

</script>
</html>