<html layout:decorate="~{layout}">
<html>
<head>
<meta charset="UTF-8">
<title>안명암</title>
</head>
<th:block layout:fragment="content" class="container">
	</nav>
	</main>

	<body>

		<!-- ===============================================-->
		<!--    Main Content-->
		<!-- ===============================================-->
		<main class="main" id="top">






			<section class="pt-4 pb-9">

				<div class="container-medium">

					<h2 class="mb-4">안 명 암</h2>

					<div class="row g-3">
						<div class="col-xl-8">
							<div class="row g-3 mb-3">
								<div class="col-md-6">
									<a href="../../../../assets/img/hotels/25.png"
										data-gallery="hotel-details-gallery"> <img
										class="img-fluid rounded-2"
										src="https://img0.yna.co.kr/photo/yna/YH/2020/04/12/PYH2020041209120006300_P4.jpg"
										alt=""></a>
								</div>
								<!--
								<div class="col-6 d-none d-md-block">
									<div class="row g-3">
										<div class="col-12">
											<a href="../../../../assets/img/hotels/26.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/26_2.png" alt=""></a>
										</div>
										<div class="col-6">
											<a href="../../../../assets/img/hotels/27.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/27_2.png" alt=""></a>
										</div>
										<div class="col-6">
											<a href="../../../../assets/img/hotels/28.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/28_2.png" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/29.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/29_2.png" alt=""></a>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/30.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/30_2.png" alt=""></a>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/31.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/31_2.png" alt=""></a>
								</div>
								<div class="col-md-3">
									<div class="position-relative rounded-2 overflow-hidden">
										<a href="../../../../assets/img/hotels/32.png"
											data-gallery="hotel-details-gallery"> <img
											class="w-100 h-md-100 object-fit-cover"
											src="../../../../assets/img/hotels/32_2.png" alt=""
											height="43"></a>
										<div
											class="position-absolute w-100 h-100 left-0 top-0 d-flex flex-center bg-black bg-opacity-50">
											<a class="text-white stretched-link" href="#!">Show all</a>
										</div>
									</div>
								</div>
							</div> -->

								<div class="tab-content" id="hotel-details-tab-content">

									<div class="tab-pane fade active show" id="pills-description"
										role="tabpanel" aria-labelledby="pills-description-tab"
										tabindex="0">
										<h3 class="mb-3 fw-bold">Description</h3>
										<p class="text-body">안면암은 해안에 위치해 있어, 바다를 배경으로 한 아름다운 자연
											경관을 자랑합니다. 특히 일출이나 일몰을 바라보며 명상이나 휴식을 취할 수 있는 공간으로 매우 인기가
											있습니다. 안면암은 고려 시대에 창건된 사찰로, 오랜 역사를 가지고 있습니다. 이곳에서는 고려 시대 유적물과
											함께 중요한 불교 문화 유산을 접할 수 있습니다. 사찰 내에는 다양한 사찰 건축물과 유물들이 전시되어
											있습니다. 방문객들은 안면암에서 불교 문화를 직접 체험할 수 있는 기회가 제공됩니다. 전통적인 사찰 체험
											활동이나 불교 명상 프로그램 등을 통해 심신의 평화를 찾을 수 있습니다.사찰 주변에는 다양한 식물과 동물들이
											서식하는 풍부한 자연 생태계가 펼쳐져 있습니다. 특히 해안을 따라 걷는 산책로는 자연을 경험하기에 좋은
											장소입니다.</p>
										<p class="text-body">안명암은 고려 시대에 창건된 사찰로, 오랜 역사와 전통을
											자랑합니다. 이곳에서는 고려 왕실의 휴양지로 사용되었던 역사적 배경을 직접 체험할 수 있으며, 사찰 건축물과
											불교 예술 작품을 감상할 수 있습니다. 고요한 분위기와 함께 역사적 유물들을 통해 과거의 멋진 순간을 상상할
											수 있습니다. 안명암은 태안의 자연 경관 속에 자리하고 있어, 해안선을 따라 펼쳐진 아름다운 풍경을 즐길 수
											있습니다. 특히 해안이 바로 앞에 펼쳐져 있어, 바다를 배경으로 한 사찰의 아름다움을 감상할 수 있습니다.
											이곳은 자연 속에서의 심신안정을 찾고자 하는 이들에게 특히 적합한 여행지입니다. 안명암에서는 다양한 사찰 체험
											프로그램이 운영되고 있어, 방문객들은 불교 문화와 전통을 직접 체험하고 깊이 있게 이해할 수 있습니다. 전통
											불교 의식에 참여하거나 명상을 통해 내면의 평화를 찾을 수 있는 기회를 제공받을 수 있습니다. 안명암은 그
											자체로 평화로운 휴양지로서의 역할도 합니다. 사찰 주변에는 편의시설이 잘 갖추어져 있어, 방문객들이 편안하게
											머무르고 여유롭게 휴식을 취할 수 있는 조건을 제공합니다. 일상에서 벗어나 몸과 마음을 힐링하고자 하는
											이들에게 이상적인 장소입니다.</p>


									</div>



								</div>
							</div>

						</div>
					</div>
					<!-- end of .container-->
			</section>
			<!-- <section> close ============================-->
			<!-- ============================================-->





		</main>








		<!-- ===============================================-->
		<!--    JavaScripts-->
		<!-- ===============================================-->
		<script src="../../../../vendors/popper/popper.min.js"></script>
		<script src="../../../../vendors/bootstrap/bootstrap.min.js"></script>
		<script src="../../../../vendors/anchorjs/anchor.min.js"></script>
		<script src="../../../../vendors/is/is.min.js"></script>
		<script src="../../../../vendors/fontawesome/all.min.js"></script>
		<script src="../../../../vendors/lodash/lodash.min.js"></script>
		<script
			src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
		<script src="../../../../vendors/list.js/list.min.js"></script>
		<script src="../../../../vendors/feather-icons/feather.min.js"></script>
		<script src="../../../../vendors/dayjs/dayjs.min.js"></script>
		<script src="../../../../assets/js/phoenix.js"></script>
		<script src="../../../../vendors/flatpickr/flatpickr.min.js"></script>
		<script src="../../../../vendors/nouislider/nouislider.min.js"></script>
		<script src="../../../../vendors/glightbox/glightbox.min.js">
			
		</script>
		<script src="../../../../vendors/mapbox-gl/mapbox-gl.js"></script>
		<script src="../../../../vendors/swiper/swiper-bundle.min.js"></script>




	</body>
</th:block>
</html>