<html layout:decorate="~{layout}">
<html>
<head>
<meta charset="UTF-8">
<title>반야사</title>
</head>
<th:block layout:fragment="content" class="container">
	</nav>
	</main>

	<body>

		<!-- ===============================================-->
		<!--    Main Content-->
		<!-- ===============================================-->
		<main class="main" id="top">






			<section class="pt-4 pb-9">

				<div class="container-medium">

					<h2 class="mb-4">반 야 사</h2>

					<div class="row g-3">
						<div class="col-xl-8">
							<div class="row g-3 mb-3">
								<div class="col-md-6">
									<a href="../../../../assets/img/hotels/25.png"
										data-gallery="hotel-details-gallery"> <img
										class="img-fluid rounded-2"
										src="https://lh3.googleusercontent.com/p/AF1QipNr4xihXx9rpT7_v_eBbJEGYLH19mxBAuiY3brT=s680-w680-h510"
										alt=""></a>
								</div>
								<!--
								<div class="col-6 d-none d-md-block">
									<div class="row g-3">
										<div class="col-12">
											<a href="../../../../assets/img/hotels/26.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/26_2.png" alt=""></a>
										</div>
										<div class="col-6">
											<a href="../../../../assets/img/hotels/27.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/27_2.png" alt=""></a>
										</div>
										<div class="col-6">
											<a href="../../../../assets/img/hotels/28.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/28_2.png" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/29.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/29_2.png" alt=""></a>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/30.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/30_2.png" alt=""></a>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/31.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/31_2.png" alt=""></a>
								</div>
								<div class="col-md-3">
									<div class="position-relative rounded-2 overflow-hidden">
										<a href="../../../../assets/img/hotels/32.png"
											data-gallery="hotel-details-gallery"> <img
											class="w-100 h-md-100 object-fit-cover"
											src="../../../../assets/img/hotels/32_2.png" alt=""
											height="43"></a>
										<div
											class="position-absolute w-100 h-100 left-0 top-0 d-flex flex-center bg-black bg-opacity-50">
											<a class="text-white stretched-link" href="#!">Show all</a>
										</div>
									</div>
								</div>
							</div> -->

								<div class="tab-content" id="hotel-details-tab-content">

									<div class="tab-pane fade active show" id="pills-description"
										role="tabpanel" aria-labelledby="pills-description-tab"
										tabindex="0">
										<h3 class="mb-3 fw-bold">Description</h3>
										<p class="text-body">반야사는 한국의 중요한 사찰 중 하나로, 그 역사와 아름다움으로
											유명합니다. 이 사찰은 9세기에 건립되어 당시에는 진나라의 영향을 받아 중국식 건축 양식을 따랐습니다. 그
											후에도 여러 차례 수리와 보수를 거쳐 오늘날의 모습을 간직하고 있습니다. 반야사는 높은 산 중턱에 자리하여
											자연경관과도 아름다운 조화를 이루고 있습니다. 특히 가을에는 단풍이 아름다워 사찰 주변을 더욱 빛나게 합니다.
											사찰 내부에는 다양한 문화재와 불상이 보존되어 있으며, 그 중에서도 특히 5층 석탑은 국보로 지정되어 중요한
											역사적 가치를 지니고 있습니다. 반야사는 논산시의 중요한 관광지이며, 문화유산으로서도 중요한 위치를 차지하고
											있습니다. 방문객들은 그 아름다운 건축물과 역사적 분위기를 느끼며 평화로움을 찾을 수 있는 곳입니다.</p>
										<p class="text-body">먼저, 그 자체로 역사적인 가치와 중요성을 지니고 있기 때문입니다.
											반야사는 9세기에 건립된 사찰로서, 오랜 세월 동안 많은 역사적 사건과 문화적 변화를 겪으며 한국불교의 발전과
											함께 성장해 왔습니다. 이곳을 방문하면 그 과거의 숨결을 느낄 수 있으며, 고즈넉하고 신성한 분위기 속에서
											맑은 마음을 가질 수 있습니다. 또한, 반야사는 자연 경관과도 아름다운 조화를 이루고 있습니다. 높은 산 속에
											자리하고 있어 자연의 소리와 함께 푸른 숲 속을 거닐며 심신을 정화할 수 있는 공간입니다. 특히 가을에는
											주변의 단풍이 환상적인 경관을 연출하여 방문객들에게 잊지 못할 경험을 선사합니다. 마지막으로, 반야사는
											문화유산으로서 중요한 위치를 차지하고 있습니다. 국내외 관광객들이 문화적 호기심을 충족시킬 수 있는 곳으로,
											사찰 내부에는 다양한 문화재와 불상들이 보존되어 있습니다. 이곳을 방문하면 한국의 전통 건축물과 예술의
											아름다움을 직접 체험할 수 있습니다. 결론적으로, 반야사는 그 자체로 역사와 문화, 자연 경관이 어우러진
											곳으로, 방문객들에게 정신적으로나 문화적으로 큰 만족감을 줄 수 있는 멋진 여행지입니다.</p>


									</div>



								</div>
							</div>

						</div>
					</div>
					<!-- end of .container-->
			</section>
			<!-- <section> close ============================-->
			<!-- ============================================-->





		</main>








		<!-- ===============================================-->
		<!--    JavaScripts-->
		<!-- ===============================================-->
		<script src="../../../../vendors/popper/popper.min.js"></script>
		<script src="../../../../vendors/bootstrap/bootstrap.min.js"></script>
		<script src="../../../../vendors/anchorjs/anchor.min.js"></script>
		<script src="../../../../vendors/is/is.min.js"></script>
		<script src="../../../../vendors/fontawesome/all.min.js"></script>
		<script src="../../../../vendors/lodash/lodash.min.js"></script>
		<script
			src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
		<script src="../../../../vendors/list.js/list.min.js"></script>
		<script src="../../../../vendors/feather-icons/feather.min.js"></script>
		<script src="../../../../vendors/dayjs/dayjs.min.js"></script>
		<script src="../../../../assets/js/phoenix.js"></script>
		<script src="../../../../vendors/flatpickr/flatpickr.min.js"></script>
		<script src="../../../../vendors/nouislider/nouislider.min.js"></script>
		<script src="../../../../vendors/glightbox/glightbox.min.js">
			
		</script>
		<script src="../../../../vendors/mapbox-gl/mapbox-gl.js"></script>
		<script src="../../../../vendors/swiper/swiper-bundle.min.js"></script>




	</body>
</th:block>
</html>