<html layout:decorate="~{layout}">
<html>
<head>
<meta charset="UTF-8">
<title>은행나무길</title>
</head>
<th:block layout:fragment="content" class="container">
	</nav>
	</main>

	<body>

		<!-- ===============================================-->
		<!--    Main Content-->
		<!-- ===============================================-->
		<main class="main" id="top">






			<section class="pt-4 pb-9">

				<div class="container-medium">

					<h2 class="mb-4">은행나무길</h2>

					<div class="row g-3">
						<div class="col-xl-8">
							<div class="row g-3 mb-3">
								<div class="col-md-6">
									<a href="../../../../assets/img/hotels/25.png"
										data-gallery="hotel-details-gallery"> <img
										class="img-fluid rounded-2"
										src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=0c04ea43-d0a1-4e56-9a6f-b74dddeca4dc"
										alt=""></a>
								</div>
								<!--
								<div class="col-6 d-none d-md-block">
									<div class="row g-3">
										<div class="col-12">
											<a href="../../../../assets/img/hotels/26.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/26_2.png" alt=""></a>
										</div>
										<div class="col-6">
											<a href="../../../../assets/img/hotels/27.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/27_2.png" alt=""></a>
										</div>
										<div class="col-6">
											<a href="../../../../assets/img/hotels/28.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/28_2.png" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/29.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/29_2.png" alt=""></a>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/30.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/30_2.png" alt=""></a>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/31.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/31_2.png" alt=""></a>
								</div>
								<div class="col-md-3">
									<div class="position-relative rounded-2 overflow-hidden">
										<a href="../../../../assets/img/hotels/32.png"
											data-gallery="hotel-details-gallery"> <img
											class="w-100 h-md-100 object-fit-cover"
											src="../../../../assets/img/hotels/32_2.png" alt=""
											height="43"></a>
										<div
											class="position-absolute w-100 h-100 left-0 top-0 d-flex flex-center bg-black bg-opacity-50">
											<a class="text-white stretched-link" href="#!">Show all</a>
										</div>
									</div>
								</div>
							</div> -->

								<div class="tab-content" id="hotel-details-tab-content">

									<div class="tab-pane fade active show" id="pills-description"
										role="tabpanel" aria-labelledby="pills-description-tab"
										tabindex="0">
										<h3 class="mb-3 fw-bold">Description</h3>
										<p class="text-body">은행나무길은 은행나무가 나열된 길이며, 그 아름다운 자연 경관으로
											많은 이들에게 사랑받는 관광지나 산책로입니다. 은행나무는 주로 가을에 잎이 붉게 물들어 황금빛 풍경을 연출하며
											유명합니다. 이러한 특성 때문에 은행나무길은 가을 단풍 구경을 즐기기에 이상적인 장소로 자리잡고 있습니다.
											또한, 봄에는 싹이 돋아 녹색 잎새가 나타나며, 여름에는 울창한 녹음을 즐길 수 있습니다. 은행나무길은 보통
											시간이 지나면서도 변화하는 매력을 지니고 있습니다. 계절마다 다른 모습을 보여줌으로써 방문객들에게 항상 새로운
											경험을 선사합니다. 가을에는 은행나무의 붉은 잎들이 거리를 물들이며 독특한 분위기를 조성하고, 봄과 여름에는
											싱그러운 싹과 녹음이 방문객들의 시선을 사로잡습니다. 또한, 은행나무길은 자연 친화적인 활동을 즐기기에도 좋은
											장소입니다. 주변의 자연 경관을 배경으로 산책이나 조깅을 즐기며 건강을 챙길 수 있습니다. 특히 도시 근처에
											위치한 경우, 시끄러운 도시 생활에서 벗어나 조용하고 평화로운 시간을 보낼 수 있는 휴식처가 됩니다.
											은행나무길은 종종 지역 사회에 의해 관리되거나 지원받는 곳으로, 지역 사회의 활동과 문화적 이벤트의 장소로
											활용되기도 합니다. 이는 지역 경제에 기여하고, 지역 주민들에게는 문화적, 사회적으로 중요한 공간으로 자리
											잡고 있습니다. 따라서 은행나무길은 그 자체로 자연의 아름다움과 휴식의 공간을 제공하는 동시에, 계절의 변화를
											함께 느낄 수 있는 매력적인 장소로 평가받고 있습니다.</p>
										<p class="text-body">첫째로, 은행나무길은 주로 가을에 그 매력이 돋보입니다. 가을이면
											은행나무의 잎이 붉게 물들어 황금빛 풍경을 연출합니다. 이러한 단풍 풍경은 그 자체로도 충분히 아름다움을
											선사하지만, 은행나무가 나열된 길이라면 그 경치는 더욱 황홀할 것입니다. 방문객들은 길을 따라 걷거나 자전거를
											타며 붉은 단풍을 감상할 수 있으며, 사진을 찍거나 자연 속에서의 평화로운 시간을 보낼 수 있습니다. 둘째로,
											은행나무길은 계절에 따라 변화하는 매력을 지니고 있습니다. 봄에는 싹이 돋아 녹음이 싹트고, 여름에는 울창한
											녹음이 방문객들의 시선을 사로잡습니다. 또한, 가을과 겨울에는 단풍과 눈이 내리는 풍경을 함께 경험할 수 있는
											장소로, 계절마다 다른 아름다움을 느낄 수 있는 곳입니다. 셋째로, 은행나무길은 자연 친화적인 활동을
											즐기기에도 좋은 장소입니다. 주변의 자연 경관을 배경으로 산책이나 조깅을 즐기며 건강을 챙길 수 있습니다.
											도시 근처에 위치한 경우, 은행나무길은 시끄러운 도시 생활에서 벗어나 조용하고 평화로운 시간을 보내기에
											이상적인 장소가 됩니다. 마지막으로, 은행나무길은 지역 사회와 문화적으로도 중요한 공간으로 자리잡고 있습니다.
											지역 주민들은 자신들의 자연과 문화적 자산을 소중히 여기며 관리하고 있으며, 종종 지역 사회의 활동과 문화적
											이벤트의 장소로 활용됩니다. 이는 지역 경제에 기여하고, 지역 주민들에게는 문화적, 사회적으로 중요한 공간으로
											자리 잡고 있습니다.</p>


									</div>



								</div>
							</div>

						</div>
					</div>
					<!-- end of .container-->
			</section>
			<!-- <section> close ============================-->
			<!-- ============================================-->





		</main>








		<!-- ===============================================-->
		<!--    JavaScripts-->
		<!-- ===============================================-->
		<script src="../../../../vendors/popper/popper.min.js"></script>
		<script src="../../../../vendors/bootstrap/bootstrap.min.js"></script>
		<script src="../../../../vendors/anchorjs/anchor.min.js"></script>
		<script src="../../../../vendors/is/is.min.js"></script>
		<script src="../../../../vendors/fontawesome/all.min.js"></script>
		<script src="../../../../vendors/lodash/lodash.min.js"></script>
		<script
			src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
		<script src="../../../../vendors/list.js/list.min.js"></script>
		<script src="../../../../vendors/feather-icons/feather.min.js"></script>
		<script src="../../../../vendors/dayjs/dayjs.min.js"></script>
		<script src="../../../../assets/js/phoenix.js"></script>
		<script src="../../../../vendors/flatpickr/flatpickr.min.js"></script>
		<script src="../../../../vendors/nouislider/nouislider.min.js"></script>
		<script src="../../../../vendors/glightbox/glightbox.min.js">
			
		</script>
		<script src="../../../../vendors/mapbox-gl/mapbox-gl.js"></script>
		<script src="../../../../vendors/swiper/swiper-bundle.min.js"></script>




	</body>
</th:block>
</html>