<html layout:decorate="~{layout}">
<html>
<head>
<meta charset="UTF-8">
<title>궁남로 궁남지</title>
</head>
<th:block layout:fragment="content" class="container">
	</nav>
	</main>

	<body>

		<!-- ===============================================-->
		<!--    Main Content-->
		<!-- ===============================================-->
		<main class="main" id="top">






			<section class="pt-4 pb-9">

				<div class="container-medium">

					<h2 class="mb-4">궁남로 궁남지</h2>

					<div class="row g-3">
						<div class="col-xl-8">
							<div class="row g-3 mb-3">
								<div class="col-md-6">
									<a href="../../../../assets/img/hotels/25.png"
										data-gallery="hotel-details-gallery"> <img
										class="img-fluid rounded-2"
										src="https://www.buyeo.go.kr/images/tour/info/info010103_timg_2.jpg"
										alt=""></a>
								</div>
								<!--
								<div class="col-6 d-none d-md-block">
									<div class="row g-3">
										<div class="col-12">
											<a href="../../../../assets/img/hotels/26.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/26_2.png" alt=""></a>
										</div>
										<div class="col-6">
											<a href="../../../../assets/img/hotels/27.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/27_2.png" alt=""></a>
										</div>
										<div class="col-6">
											<a href="../../../../assets/img/hotels/28.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/28_2.png" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/29.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/29_2.png" alt=""></a>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/30.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/30_2.png" alt=""></a>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/31.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/31_2.png" alt=""></a>
								</div>
								<div class="col-md-3">
									<div class="position-relative rounded-2 overflow-hidden">
										<a href="../../../../assets/img/hotels/32.png"
											data-gallery="hotel-details-gallery"> <img
											class="w-100 h-md-100 object-fit-cover"
											src="../../../../assets/img/hotels/32_2.png" alt=""
											height="43"></a>
										<div
											class="position-absolute w-100 h-100 left-0 top-0 d-flex flex-center bg-black bg-opacity-50">
											<a class="text-white stretched-link" href="#!">Show all</a>
										</div>
									</div>
								</div>
							</div> -->

								<div class="tab-content" id="hotel-details-tab-content">

									<div class="tab-pane fade active show" id="pills-description"
										role="tabpanel" aria-labelledby="pills-description-tab"
										tabindex="0">
										<h3 class="mb-3 fw-bold">Description</h3>
										<p class="text-body">궁남로 궁남지는 역사적으로 중요한 곳으로, 특히 한국에서 가장
											오래된 인공 호수인 것으로 알려져 있습니다. 궁남지는 고려 시대 왕실과 관료들의 휴양지로 사용되었으며, 그
											이름은 당시 왕실의 여름 별장인 "궁남원"에서 유래되었습니다. 궁남지는 넓은 호수를 중심으로 한 조선 시대의
											수조 건축물들이 주변에 위치해 있습니다. 이 호수는 조선 왕조 시대에는 사대부들의 휴양지로 사용되었으며, 맑고
											평온한 물이 시원한 여름을 보내는 데 도움이 되었을 것입니다. 오늘날 궁남지는 관광객들이 자연 경관을 즐기기
											위한 인기 있는 장소입니다. 호수 주변에는 산책로와 휴식을 취할 수 있는 편안한 벤치가 마련되어 있으며, 특히
											봄과 가을에는 아름다운 단풍을 감상할 수 있는 좋은 장소로도 알려져 있습니다. 또한, 궁남지 근처에는 부여
											세계문화유산로의 일부로 등재된 고분군과 유적들이 있어, 역사와 문화에 관심 있는 이들에게도 매우 흥미로운
											장소입니다. 부여는 고유의 역사적인 중심지로서 다양한 문화적 재능과 관광 명소를 제공하는 지역으로서 그 매력을
											지속적으로 유지하고 있습니다.</p>
										<p class="text-body">궁남지는 한국에서 가장 오래된 인공 호수로, 고려 왕실과 조선
											사대부들의 휴양지로 사용되었습니다. 이곳을 방문함으로써 한국 역사와 전통 건축물을 직접 경험하고 그 역사적인
											가치를 배울 수 있습니다. 호수와 그 주변의 자연 경관이 매우 아름답습니다. 특히 봄에는 벚꽃이 만개하고,
											가을에는 단풍이 빛나는 풍경을 즐길 수 있습니다. 자연 속에서의 평화로움과 아름다움을 느끼고자 하는 이들에게
											이상적인 장소입니다. 궁남지 주변에는 산책로와 휴식을 취할 수 있는 공간이 마련되어 있어, 도시의 소음과 바쁜
											일상에서 벗어나 여유를 즐길 수 있습니다. 호수를 둘러싼 조용한 환경 속에서 휴식을 취하거나 산책을 즐기며
											마음을 정화할 수 있습니다. 궁남지 주변에는 부여의 다양한 문화 유적들이 있습니다. 고분군과 유적지를 방문하여
											고대 문화와 전통을 체험하고 역사적인 이야기를 들을 수 있습니다. 부여는 지역 특산물과 전통 음식으로
											유명합니다. 궁남지 주변에는 지역 맛집과 전통 시장이 있어, 현지 음식을 맛보고 지역 특산품을 쇼핑할 수 있는
											기회를 제공합니다.</p>


									</div>



								</div>
							</div>

						</div>
					</div>
					<!-- end of .container-->
			</section>
			<!-- <section> close ============================-->
			<!-- ============================================-->





		</main>








		<!-- ===============================================-->
		<!--    JavaScripts-->
		<!-- ===============================================-->
		<script src="../../../../vendors/popper/popper.min.js"></script>
		<script src="../../../../vendors/bootstrap/bootstrap.min.js"></script>
		<script src="../../../../vendors/anchorjs/anchor.min.js"></script>
		<script src="../../../../vendors/is/is.min.js"></script>
		<script src="../../../../vendors/fontawesome/all.min.js"></script>
		<script src="../../../../vendors/lodash/lodash.min.js"></script>
		<script
			src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
		<script src="../../../../vendors/list.js/list.min.js"></script>
		<script src="../../../../vendors/feather-icons/feather.min.js"></script>
		<script src="../../../../vendors/dayjs/dayjs.min.js"></script>
		<script src="../../../../assets/js/phoenix.js"></script>
		<script src="../../../../vendors/flatpickr/flatpickr.min.js"></script>
		<script src="../../../../vendors/nouislider/nouislider.min.js"></script>
		<script src="../../../../vendors/glightbox/glightbox.min.js">
			
		</script>
		<script src="../../../../vendors/mapbox-gl/mapbox-gl.js"></script>
		<script src="../../../../vendors/swiper/swiper-bundle.min.js"></script>




	</body>
</th:block>
</html>