<html layout:decorate="~{layout}">
<html>
<head>
<meta charset="UTF-8">
<title>종합운동장</title>
</head>
<th:block layout:fragment="content" class="container">
	</nav>
	</main>

	<body>

		<!-- ===============================================-->
		<!--    Main Content-->
		<!-- ===============================================-->
		<main class="main" id="top">






			<section class="pt-4 pb-9">

				<div class="container-medium">

					<h2 class="mb-4">종합운동장</h2>

					<div class="row g-3">
						<div class="col-xl-8">
							<div class="row g-3 mb-3">
								<div class="col-md-6">
									<a href="../../../../assets/img/hotels/25.png"
										data-gallery="hotel-details-gallery"> <img
										class="img-fluid rounded-2"
										src="https://i.namu.wiki/i/tMOej2BddfMaqrdH93fELg6htQUmbJbLPblYFVEukA7u3-xO9eTdyZgZvDefZW9vDp13S7z5-mhKTQwd4Kvwpxa8KaRgU8aA6GP7UlkJVARG16QPC_JQXkVfjATiD38yjqo4wg9C3yb8Jntw4XF71A.webp"
										alt=""></a>
								</div>
								<!--
								<div class="col-6 d-none d-md-block">
									<div class="row g-3">
										<div class="col-12">
											<a href="../../../../assets/img/hotels/26.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/26_2.png" alt=""></a>
										</div>
										<div class="col-6">
											<a href="../../../../assets/img/hotels/27.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/27_2.png" alt=""></a>
										</div>
										<div class="col-6">
											<a href="../../../../assets/img/hotels/28.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/28_2.png" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/29.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/29_2.png" alt=""></a>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/30.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/30_2.png" alt=""></a>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/31.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/31_2.png" alt=""></a>
								</div>
								<div class="col-md-3">
									<div class="position-relative rounded-2 overflow-hidden">
										<a href="../../../../assets/img/hotels/32.png"
											data-gallery="hotel-details-gallery"> <img
											class="w-100 h-md-100 object-fit-cover"
											src="../../../../assets/img/hotels/32_2.png" alt=""
											height="43"></a>
										<div
											class="position-absolute w-100 h-100 left-0 top-0 d-flex flex-center bg-black bg-opacity-50">
											<a class="text-white stretched-link" href="#!">Show all</a>
										</div>
									</div>
								</div>
							</div> -->

								<div class="tab-content" id="hotel-details-tab-content">

									<div class="tab-pane fade active show" id="pills-description"
										role="tabpanel" aria-labelledby="pills-description-tab"
										tabindex="0">
										<h3 class="mb-3 fw-bold">Description</h3>
										<p class="text-body">주요 스포츠 경기를 진행할 수 있는 잔디나 인조잔디 경기장이
											포함됩니다. 축구, 야구, 랭크볼 등 다양한 종목의 경기가 이곳에서 열립니다. 대형 관중석과 함께 경기를
											관람할 수 있는 시설이 마련되어 있습니다. 실내에서 운동할 수 있는 다목적 체육관이 포함됩니다. 배드민턴,
											농구, 탁구 등 다양한 운동 활동이 가능하며, 비오는 날이나 추운 날씨에도 운동을 즐길 수 있는 장소입니다.
											종합운동장에는 주로 실외 수영장이 포함되어 있어, 수영 및 수상 스포츠 활동을 즐길 수 있습니다. 몇몇
											경우에는 실내 수영장도 함께 운영되기도 합니다. 경주를 위한 트랙과 필드 시설이 마련되어 있어, 육상 경기나
											트랙 종목을 수행할 수 있는 공간을 제공합니다. 이는 주로 러닝과 관련된 다양한 활동을 할 수 있는
											장소입니다. 종합운동장에는 기타 다양한 스포츠 시설들이 포함될 수 있습니다. 예를 들어 테니스 코트, 복싱장,
											게이트볼장 등 다양한 운동 활동을 지원하는 시설들이 있습니다.</p>
										<p class="text-body">종합운동장은 다양한 종목의 스포츠를 체험할 수 있는 공간을
											제공합니다. 축구 경기장, 농구장, 배드민턴장 등 다양한 경기장과 체육관이 마련되어 있어, 방문객들은 자신이
											좋아하는 스포츠를 직접 체험하고 활동할 수 있습니다. 종합운동장은 종종 문화적 행사나 이벤트가 열리는 장소로
											활용됩니다. 콘서트, 축제, 전시회 등 다양한 문화적 활동을 즐길 수 있는 기회가 제공됩니다. 이는 지역
											사회와 문화 생활을 경험하고 함께하는 좋은 기회가 됩니다. 운동장은 건강 증진과 웰빙을 추구하는 사람들에게
											이상적인 장소입니다. 여기에서는 일상 생활에서 스트레스를 풀고, 친구나 가족과 함께 시간을 보내며 건강을 챙길
											수 있습니다. 특히 운동을 즐기는 이들에게는 매우 유익한 공간입니다. 많은 운동장이 자연 경관에 위치해 있어,
											자연과 도시의 조화를 느낄 수 있는 장소로 인기가 있습니다. 특히 천안 종합운동장은 공원이나 수변공원과
											인접하여 자연을 둘러싸고 있어, 자연 속에서 휴식을 취할 수 있는 좋은 환경을 제공합니다. 종합운동장은 지역
											사회의 중심으로 자리 잡고 있어, 지역 주민들과의 교류와 친목을 도모할 수 있는 장소입니다. 지역의 다양한
											문화적 활동과 스포츠 행사들을 통해 지역 사회의 활기를 느낄 수 있습니다.</p>


									</div>



								</div>
							</div>

						</div>
					</div>
					<!-- end of .container-->
			</section>
			<!-- <section> close ============================-->
			<!-- ============================================-->





		</main>








		<!-- ===============================================-->
		<!--    JavaScripts-->
		<!-- ===============================================-->
		<script src="../../../../vendors/popper/popper.min.js"></script>
		<script src="../../../../vendors/bootstrap/bootstrap.min.js"></script>
		<script src="../../../../vendors/anchorjs/anchor.min.js"></script>
		<script src="../../../../vendors/is/is.min.js"></script>
		<script src="../../../../vendors/fontawesome/all.min.js"></script>
		<script src="../../../../vendors/lodash/lodash.min.js"></script>
		<script
			src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
		<script src="../../../../vendors/list.js/list.min.js"></script>
		<script src="../../../../vendors/feather-icons/feather.min.js"></script>
		<script src="../../../../vendors/dayjs/dayjs.min.js"></script>
		<script src="../../../../assets/js/phoenix.js"></script>
		<script src="../../../../vendors/flatpickr/flatpickr.min.js"></script>
		<script src="../../../../vendors/nouislider/nouislider.min.js"></script>
		<script src="../../../../vendors/glightbox/glightbox.min.js">
			
		</script>
		<script src="../../../../vendors/mapbox-gl/mapbox-gl.js"></script>
		<script src="../../../../vendors/swiper/swiper-bundle.min.js"></script>




	</body>
</th:block>
</html>