<html layout:decorate="~{layout}">
<html>
<head>
<meta charset="UTF-8">
<title>꽃지해수욕장</title>
</head>
<th:block layout:fragment="content" class="container">
	</nav>
	</main>

	<body>

		<!-- ===============================================-->
		<!--    Main Content-->
		<!-- ===============================================-->
		<main class="main" id="top">






			<section class="pt-4 pb-9">

				<div class="container-medium">

					<h2 class="mb-4">꽃지해수욕장</h2>

					<div class="row g-3">
						<div class="col-xl-8">
							<div class="row g-3 mb-3">
								<div class="col-md-6">
									<a href="../../../../assets/img/hotels/25.png"
										data-gallery="hotel-details-gallery"> <img
										class="img-fluid rounded-2"
										src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=8efc0cf4-fab5-4fba-9821-ed4d11472350"
										alt=""></a>
								</div>
								<!--
								<div class="col-6 d-none d-md-block">
									<div class="row g-3">
										<div class="col-12">
											<a href="../../../../assets/img/hotels/26.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/26_2.png" alt=""></a>
										</div>
										<div class="col-6">
											<a href="../../../../assets/img/hotels/27.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/27_2.png" alt=""></a>
										</div>
										<div class="col-6">
											<a href="../../../../assets/img/hotels/28.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/28_2.png" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/29.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/29_2.png" alt=""></a>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/30.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/30_2.png" alt=""></a>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/31.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/31_2.png" alt=""></a>
								</div>
								<div class="col-md-3">
									<div class="position-relative rounded-2 overflow-hidden">
										<a href="../../../../assets/img/hotels/32.png"
											data-gallery="hotel-details-gallery"> <img
											class="w-100 h-md-100 object-fit-cover"
											src="../../../../assets/img/hotels/32_2.png" alt=""
											height="43"></a>
										<div
											class="position-absolute w-100 h-100 left-0 top-0 d-flex flex-center bg-black bg-opacity-50">
											<a class="text-white stretched-link" href="#!">Show all</a>
										</div>
									</div>
								</div>
							</div> -->

								<div class="tab-content" id="hotel-details-tab-content">

									<div class="tab-pane fade active show" id="pills-description"
										role="tabpanel" aria-labelledby="pills-description-tab"
										tabindex="0">
										<h3 class="mb-3 fw-bold">Description</h3>
										<p class="text-body">꽃지해수욕장은 한국에서 유명한 해수욕장 중 하나입니다. 이곳은 그
											유명한 이름처럼 물결이 아름다운 해변으로, 아름다운 자연경관과 함께 조용하고 평온한 분위기를 자랑합니다.
											꽃지해수욕장은 맑고 깨끗한 바다가 특징인데, 특히 여름철에는 해변가에 펼쳐진 맑은 파도가 많은 사람들에게
											인기가 있습니다. 또한, 백사장과 부근의 야자수가 어울려 휴양지로서도 매우 인기가 높습니다. 해수욕장 근처에는
											편의시설이 잘 갖추어져 있어 방문객들이 편리하게 이용할 수 있습니다. 다양한 수상 스포츠와 해양 레저 활동을
											즐길 수 있는 기회도 많으며, 가족 단위나 친구들과 함께 즐기기에 좋은 장소입니다. 또한, 꽃지해수욕장은 그
											경치뿐만 아니라 자연 보호구역으로 지정된 지역이기도 합니다. 이곳에서는 자연을 경험하고 미래 세대를 위한 지속
											가능한 관광을 지향하는 분들에게도 매우 적합한 장소입니다. 종종 방문객들은 해변을 따라 산책을 하며 일출이나
											일몰을 감상하곤 합니다. 특히 일몰이 아름답다고 유명하여, 그 시간에 많은 사람들이 해변으로 모이기도 합니다.
											따라서 꽃지해수욕장은 자연 경관과 함께 휴양과 여가를 즐기기에 안성맞춤인 곳으로, 방문객들에게 특별한 추억을
											선사하는 해변 중 하나입니다.</p>
										<p class="text-body">꽃지해수욕장은 맑고 깨끗한 바다와 아름다운 백사장이 특징입니다.
											자연 속에서의 평화로움과 아름다움을 경험하고자 하는 이들에게 매우 매력적인 장소입니다. 해수욕을 비롯한 다양한
											수상 스포츠나 해변에서의 산책 등의 레저 활동을 즐길 수 있습니다. 이곳에서는 편안한 휴양을 원하는 사람들에게
											최적의 장소입니다.특히 일몰이 아름답다고 유명한 꽃지해수욕장에서는 해변을 따라 걷거나 바다를 바라보며 아름다운
											자연 경관을 즐길 수 있습니다. 일출과 일몰 시간에 방문하여 자연의 아름다움을 느끼는 것도 여행의 큰 매력 중
											하나입니다. 지역 문화와 식도락: 태안 지역의 특색 있는 음식과 문화를 경험할 수 있는 기회도 제공됩니다.
											현지 음식을 맛보고 지역 주민들과의 소통을 통해 지역 특유의 매력을 더 깊이 이해할 수 있습니다.꽃지해수욕장은
											자연 보호구역으로 지정된 곳이기도 합니다. 지속 가능한 관광과 자연 생태계 보존의 중요성을 깨닫고, 자연과
											조화를 이루며 여행하는 경험을 즐기고자 하는 이들에게 이상적인 장소입니다</p>


									</div>



								</div>
							</div>

						</div>
					</div>
					<!-- end of .container-->
			</section>
			<!-- <section> close ============================-->
			<!-- ============================================-->





		</main>








		<!-- ===============================================-->
		<!--    JavaScripts-->
		<!-- ===============================================-->
		<script src="../../../../vendors/popper/popper.min.js"></script>
		<script src="../../../../vendors/bootstrap/bootstrap.min.js"></script>
		<script src="../../../../vendors/anchorjs/anchor.min.js"></script>
		<script src="../../../../vendors/is/is.min.js"></script>
		<script src="../../../../vendors/fontawesome/all.min.js"></script>
		<script src="../../../../vendors/lodash/lodash.min.js"></script>
		<script
			src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
		<script src="../../../../vendors/list.js/list.min.js"></script>
		<script src="../../../../vendors/feather-icons/feather.min.js"></script>
		<script src="../../../../vendors/dayjs/dayjs.min.js"></script>
		<script src="../../../../assets/js/phoenix.js"></script>
		<script src="../../../../vendors/flatpickr/flatpickr.min.js"></script>
		<script src="../../../../vendors/nouislider/nouislider.min.js"></script>
		<script src="../../../../vendors/glightbox/glightbox.min.js">
			
		</script>
		<script src="../../../../vendors/mapbox-gl/mapbox-gl.js"></script>
		<script src="../../../../vendors/swiper/swiper-bundle.min.js"></script>




	</body>
</th:block>
</html>