<html layout:decorate="~{layout}">
<html>
<head>
<meta charset="UTF-8">
<title>예당호</title>
</head>
<th:block layout:fragment="content" class="container">
	</nav>
	</main>

	<body>

		<!-- ===============================================-->
		<!--    Main Content-->
		<!-- ===============================================-->
		<main class="main" id="top">






			<section class="pt-4 pb-9">

				<div class="container-medium">

					<h2 class="mb-4">예 당 호</h2>

					<div class="row g-3">
						<div class="col-xl-8">
							<div class="row g-3 mb-3">
								<div class="col-md-6">
									<a href="../../../../assets/img/hotels/25.png"
										data-gallery="hotel-details-gallery"> <img
										class="img-fluid rounded-2"
										src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/202401/16/c6f40785-e8bc-4d4b-b465-09b80fa8c143.jpg"
										alt=""></a>
								</div>
								<!--
								<div class="col-6 d-none d-md-block">
									<div class="row g-3">
										<div class="col-12">
											<a href="../../../../assets/img/hotels/26.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/26_2.png" alt=""></a>
										</div>
										<div class="col-6">
											<a href="../../../../assets/img/hotels/27.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/27_2.png" alt=""></a>
										</div>
										<div class="col-6">
											<a href="../../../../assets/img/hotels/28.png"
												data-gallery="hotel-details-gallery"> <img
												class="img-fluid rounded-2"
												src="../../../../assets/img/hotels/28_2.png" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/29.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/29_2.png" alt=""></a>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/30.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/30_2.png" alt=""></a>
								</div>
								<div class="col-3 d-none d-md-block">
									<a href="../../../../assets/img/hotels/31.png"
										data-gallery="hotel-details-gallery"><img
										class="img-fluid rounded-2"
										src="../../../../assets/img/hotels/31_2.png" alt=""></a>
								</div>
								<div class="col-md-3">
									<div class="position-relative rounded-2 overflow-hidden">
										<a href="../../../../assets/img/hotels/32.png"
											data-gallery="hotel-details-gallery"> <img
											class="w-100 h-md-100 object-fit-cover"
											src="../../../../assets/img/hotels/32_2.png" alt=""
											height="43"></a>
										<div
											class="position-absolute w-100 h-100 left-0 top-0 d-flex flex-center bg-black bg-opacity-50">
											<a class="text-white stretched-link" href="#!">Show all</a>
										</div>
									</div>
								</div>
							</div> -->

								<div class="tab-content" id="hotel-details-tab-content">

									<div class="tab-pane fade active show" id="pills-description"
										role="tabpanel" aria-labelledby="pills-description-tab"
										tabindex="0">
										<h3 class="mb-3 fw-bold">Description</h3>
										<p class="text-body">예당호는 예산군과 홍성군, 서산시 일대의 수자원을 공급하는 주요
											원수지로, 농업용 물과 생활용수 공급을 위한 중요한 역할을 합니다. 또한, 호수 주변에는 물 공급을 위한 수력
											발전소가 운영되어 지역 발전에 기여하고 있습니다. 예당호 주변에는 자연 경관과 함께 다양한 레크리에이션 활동을
											즐길 수 있는 공간들이 마련되어 있습니다. 호수 주변으로는 산책로와 자전거 도로가 마련되어 있어, 자연을
											즐기며 휴식을 취할 수 있는 좋은 장소로 인기가 있습니다. 또한, 낚시와 보트 타기 같은 수상 스포츠도 즐길
											수 있는 곳입니다. 예당호 주변은 다양한 생태계를 포함하고 있으며, 이 지역은 생태 보전 구역으로 지정되어
											있습니다. 이곳에서는 다양한 새와 동물들을 관찰할 수 있는 자연 경관이 보존되어 있습니다. 역사적 가치:
											예당호 주변에는 예당강과 연결된 역사적인 유적지들이 있어, 역사와 문화를 함께 체험할 수 있는 기회를
											제공합니다. 예당호 주변의 문화재와 함께 여행객들은 지역의 전통적인 농어촌 풍경도 즐길 수 있습니다.</p>
										<p class="text-body">예당호는 주변을 둘러싼 자연 경관이 매우 아름답습니다. 호수
											주변에는 신선한 공기와 푸른 자연이 펼쳐져 있어 일상의 스트레스를 풀고자 하는 사람들에게 안성맞춤입니다. 특히
											봄에는 신록의 녹음을 즐기고, 가을에는 황금빛 단풍을 감상할 수 있는 최적의 시즌이기도 합니다. 예당호
											주변에는 다양한 레크리에이션 활동이 가능합니다. 호수에서는 낚시나 보트 타기를 즐길 수 있으며, 산책로나
											자전거 도로에서는 자연을 체험하면서 건강을 챙길 수 있습니다. 또한, 수상 스포츠를 즐기는 이들에게도 매우
											인기가 있습니다. 예당호 주변에는 역사적인 유적지나 문화유산들이 많습니다. 예당강과 연결된 고대 유적지들은
											역사와 문화에 관심이 있는 이들에게 흥미롭고 교육적인 방문지가 될 수 있습니다. 예당호 주변에는 휴양을
											즐기기에 좋은 편의시설과 숙소들이 잘 갖춰져 있습니다. 혼자 혹은 가족과 함께 편안한 휴식을 취할 수 있는
											장소로, 주말이나 짧은 휴가를 보내기에 이상적입니다. 예산군은 지역 특산물과 맛집들로도 유명합니다. 예당호를
											방문하면서 현지 음식을 맛보고 지역 문화를 경험하는 것도 여행의 큰 매력 중 하나입니다.</p>


									</div>



								</div>
							</div>

						</div>
					</div>
					<!-- end of .container-->
			</section>
			<!-- <section> close ============================-->
			<!-- ============================================-->





		</main>








		<!-- ===============================================-->
		<!--    JavaScripts-->
		<!-- ===============================================-->
		<script src="../../../../vendors/popper/popper.min.js"></script>
		<script src="../../../../vendors/bootstrap/bootstrap.min.js"></script>
		<script src="../../../../vendors/anchorjs/anchor.min.js"></script>
		<script src="../../../../vendors/is/is.min.js"></script>
		<script src="../../../../vendors/fontawesome/all.min.js"></script>
		<script src="../../../../vendors/lodash/lodash.min.js"></script>
		<script
			src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
		<script src="../../../../vendors/list.js/list.min.js"></script>
		<script src="../../../../vendors/feather-icons/feather.min.js"></script>
		<script src="../../../../vendors/dayjs/dayjs.min.js"></script>
		<script src="../../../../assets/js/phoenix.js"></script>
		<script src="../../../../vendors/flatpickr/flatpickr.min.js"></script>
		<script src="../../../../vendors/nouislider/nouislider.min.js"></script>
		<script src="../../../../vendors/glightbox/glightbox.min.js">
			
		</script>
		<script src="../../../../vendors/mapbox-gl/mapbox-gl.js"></script>
		<script src="../../../../vendors/swiper/swiper-bundle.min.js"></script>




	</body>
</th:block>
</html>