<html layout:decorate="~{layout}">



<th:block layout:fragment="content" class="container">

          
          <button class="navbar-toggler fs-8 ps-1 ps-sm-3 pe-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mt-3 mt-lg-0">
            </ul>
          </div>
        </nav>


    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
     
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0">

       
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0">

        <div class="container-medium">
          <div class="py-6">
            <div class="d-flex">
            
               <a  href = "/map"> 
              <button class="btn btn-phoenix-secondary text-nowrap px-3 px-md-4 ms-auto me-2">   <span class="fa-solid fa-map me-md-2"></span><span class="d-none d-md-inline-block">지도에서 보기</span></button></a> 
            </div>
          </div>
          <div class="row g-3 mb-6">
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden"><img class="img-fluid" src="/assets/img/places/1.jpg" alt="" />
                <div class="hover-actions top-0 end-0 mt-4 me-4 z-5">
                  <button class="btn btn-wish"><span class="far fa-heart" data-fa-transform="down-1"></span></button>
                </div>
                <div class="backdrop-faded backdrop-secondary-dark h-100 d-flex flex-column justify-content-end"><a class="stretched-link fs-7 text-white fw-bold" href="/independence">독립기념관</a>
                  <p class="mb-2 text-secondary-lighter"><span class="fa-solid fa-map-marker-alt me-2"></span>천안시, 충청남도</p>
                  <div class="d-flex align-items-center gap-3"><span class="badge badge-phoenix badge-phoenix-warning fs-8 fw-normal"><span class="fa-solid fa-star me-1 fs-9" data-fa-transform="up-1"></span><span class="badge-label">3.9</span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden"><img class="img-fluid" src="/assets/img/places/2.jpg" alt="" />
                <div class="hover-actions top-0 end-0 mt-4 me-4 z-5">
                  <button class="btn btn-wish"><span class="far fa-heart" data-fa-transform="down-1"></span></button>
                </div>
                <div class="backdrop-faded backdrop-secondary-dark h-100 d-flex flex-column justify-content-end"><a class="stretched-link fs-7 text-white fw-bold" href="/yesanmarket">예산시장</a>
                  <p class="mb-2 text-secondary-lighter"><span class="fa-solid fa-map-marker-alt me-2"></span>예산군, 충청남도</p>
                  <div class="d-flex align-items-center gap-3"><span class="badge badge-phoenix badge-phoenix-warning fs-8 fw-normal"><span class="fa-solid fa-star me-1 fs-9" data-fa-transform="up-1"></span><span class="badge-label">4.7</span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden"><img class="img-fluid" src="/assets/img/places/3.jpg" alt="" />
                <div class="hover-actions top-0 end-0 mt-4 me-4 z-5">
                  <button class="btn btn-wish"><span class="far fa-heart" data-fa-transform="down-1"></span></button>
                </div>
                <div class="backdrop-faded backdrop-secondary-dark h-100 d-flex flex-column justify-content-end"><a class="stretched-link fs-7 text-white fw-bold" href="/sapgyo">삽교호 놀이공원</a>
                  <p class="mb-2 text-secondary-lighter"><span class="fa-solid fa-map-marker-alt me-2"></span>당진시, 충청남도</p>
                  <div class="d-flex align-items-center gap-3"><span class="badge badge-phoenix badge-phoenix-warning fs-8 fw-normal"><span class="fa-solid fa-star me-1 fs-9" data-fa-transform="up-1"></span><span class="badge-label">4.2</span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden"><img class="img-fluid" src="/assets/img/places/4.jpg" alt="" />
                <div class="hover-actions top-0 end-0 mt-4 me-4 z-5">
                  <button class="btn btn-wish"><span class="far fa-heart" data-fa-transform="down-1"></span></button>
                </div>
                <div class="backdrop-faded backdrop-secondary-dark h-100 d-flex flex-column justify-content-end"><a class="stretched-link fs-7 text-white fw-bold" href="/youngmok">영목항 전망대</a>
                  <p class="mb-2 text-secondary-lighter"><span class="fa-solid fa-map-marker-alt me-2"></span>태안군, 충청남도</p>
                  <div class="d-flex align-items-center gap-3"><span class="badge badge-phoenix badge-phoenix-warning fs-8 fw-normal"><span class="fa-solid fa-star me-1 fs-9" data-fa-transform="up-1"></span><span class="badge-label">4.0</span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden"><img class="img-fluid" src="/assets/img/places/5.jpg" alt="" />
                <div class="hover-actions top-0 end-0 mt-4 me-4 z-5">
                  <button class="btn btn-wish"><span class="far fa-heart" data-fa-transform="down-1"></span></button>
                </div>
                <div class="backdrop-faded backdrop-secondary-dark h-100 d-flex flex-column justify-content-end"><a class="stretched-link fs-7 text-white fw-bold" href="/gungnamji">궁남지</a>
                  <p class="mb-2 text-secondary-lighter"><span class="fa-solid fa-map-marker-alt me-2"></span>부여군, 충청남도</p>
                  <div class="d-flex align-items-center gap-3"><span class="badge badge-phoenix badge-phoenix-warning fs-8 fw-normal"><span class="fa-solid fa-star me-1 fs-9" data-fa-transform="up-1"></span><span class="badge-label">4.7</span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden"><img class="img-fluid" src="/assets/img/places/6.jpg" alt="" />
                <div class="hover-actions top-0 end-0 mt-4 me-4 z-5">
                  <button class="btn btn-wish"><span class="far fa-heart" data-fa-transform="down-1"></span></button>
                </div>
                <div class="backdrop-faded backdrop-secondary-dark h-100 d-flex flex-column justify-content-end"><a class="stretched-link fs-7 text-white fw-bold" href="/yedangho">예당호</a>
                  <p class="mb-2 text-secondary-lighter"><span class="fa-solid fa-map-marker-alt me-2"></span>예산군, 충청남도</p>
                  <div class="d-flex align-items-center gap-3"><span class="badge badge-phoenix badge-phoenix-warning fs-8 fw-normal"><span class="fa-solid fa-star me-1 fs-9" data-fa-transform="up-1"></span><span class="badge-label">3.7</span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden"><img class="img-fluid" src="/assets/img/places/7.jpg" alt="" />
                <div class="hover-actions top-0 end-0 mt-4 me-4 z-5">
                  <button class="btn btn-wish"><span class="far fa-heart" data-fa-transform="down-1"></span></button>
                </div>
                <div class="backdrop-faded backdrop-secondary-dark h-100 d-flex flex-column justify-content-end"><a class="stretched-link fs-7 text-white fw-bold" href="gakwonsa">각원사</a>
                  <p class="mb-2 text-secondary-lighter"><span class="fa-solid fa-map-marker-alt me-2"></span>천안시, 충청남도</p>
                  <div class="d-flex align-items-center gap-3"><span class="badge badge-phoenix badge-phoenix-warning fs-8 fw-normal"><span class="fa-solid fa-star me-1 fs-9" data-fa-transform="up-1"></span><span class="badge-label">3.8</span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden"><img class="img-fluid" src="/assets/img/places/8.jpg" alt="" />
                <div class="hover-actions top-0 end-0 mt-4 me-4 z-5">
                  <button class="btn btn-wish"><span class="far fa-heart" data-fa-transform="down-1"></span></button>
                </div>
                <div class="backdrop-faded backdrop-secondary-dark h-100 d-flex flex-column justify-content-end"><a class="stretched-link fs-7 text-white fw-bold" href="waterpark">테딘워터파크</a>
                  <p class="mb-2 text-secondary-lighter"><span class="fa-solid fa-map-marker-alt me-2"></span>천안시, 충청남도</p>
                  <div class="d-flex align-items-center gap-3"><span class="badge badge-phoenix badge-phoenix-warning fs-8 fw-normal"><span class="fa-solid fa-star me-1 fs-9" data-fa-transform="up-1"></span><span class="badge-label">4.5</span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
            </div>
            
     
  
   </div>
   </div>
   </section>
   </main>
   </th:block>
   