<html layout:decorate="~{layout}">



<th:block layout:fragment="content" class="container">



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mt-3 mt-lg-0">
            </ul>
          </div>
        </nav>
          
        
        
           <div class="content container-medium">
        <nav class="mb-2" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
  <!--           <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">고객 센터</li>
            <li class="breadcrumb-item active">공지사항</li> -->
          </ol>
        </nav>
        <h2 class="mb-5"> Q & A</h2>
                    
                    <a class="btn btn-primary mb-3" href="/question/add">질문작성</a>
                    
                    <div id="tableExample4" data-list='{"valueNames":["id","title","author","createdate"],"page":5,"pagination":true,"filter":{"key":"payment"}}'>
                        <div class="row justify-content-end g-0">
                          <div class="col-auto px-3">

                          </div>
                        </div>
                        <div class="table-responsive">
                          <table class="table table-sm fs-9 mb-0">
                          
  <thead>
  <tr class="bg-body-highlight">
    <th class="border-top border-translucent ps-3 text-center" data-sort="id">번호</th>
    <th class="border-top border-translucent" data-sort="title">제목</th>
    <th class="border-top border-translucent" data-sort="author">작성자</th>
    <th class="border-top border-translucent">작성일</th>                                
  </tr>
</thead>

<tbody>
  <tr th:each="question, loop : ${noticeList}">
    <td th:text="${loop.count}" class="text-center"></td>
    <td><a th:href="@{|/question/detail/${question.id}|}" th:text="${question.title}"></a></td>
    <td><a th:text="${question.author}"></a></td>
    <td th:text="${#temporals.format(question.date, 'yyyy-MM-dd HH:mm')}"></td>
  </tr>
</tbody>

	                       
	                  </table>
	                </div>
	                
                        
                        
                        <div class="d-flex justify-content-center mt-3">
                          <button class="page-link disabled" data-list-pagination="prev" disabled=""><svg class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path></svg><!-- <span class="fas fa-chevron-left"></span> Font Awesome fontawesome.com --></button>
                          <ul class="mb-0 pagination"><li class="active"><button class="page" type="button" data-i="1" data-page="5">1</button></li></ul>
                          <button class="page-link pe-0" data-list-pagination="next"><svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path></svg><!-- <span class="fas fa-chevron-right"></span> Font Awesome fontawesome.com --></button>
                        </div>
                      </div>
                                          
  </div>
  </th:block>