<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<a href="/" class = "btn btn-secondary my-3">게시판</a>
    <!-- 질문 -->
    <div class="card my-3">
        <div class="card-body">
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="${#temporals.format(picture.date, 'yyyy-MM-dd HH:mm')}"></div>
       <img th:src="|${downpath}/${picture.image1}|" height="1000px"width="1000px">
        </div>
    </div>
    
</div>
