<html layout:decorate="~{layout}">



<th:block layout:fragment="content" class="container">



  
          <button class="navbar-toggler fs-8 ps-1 ps-sm-3 pe-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mt-3 mt-lg-0">
            </ul>
          </div>
        </nav>
        
                     
        

    <!-- ===============================================-->
    <!--  메인  -->
    <!-- ===============================================-->

           <div id="faq" class="content container-medium">
        <nav class="mb-2" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item">고객 센터</li>
            <li class="breadcrumb-item active">FAQ</li>
          </ol>
        </nav>
        <h2 class="mb-5">FAQ</h2>
        <h5 class="mb-3">무엇이 궁금하신가요??</h5>

        <div class="accordion">
          <div class="accordion-item border-top">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">방문자 인증은 어떻게 하나요?</button>
            </h2>
            <div class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body pt-0">리뷰 작성시 '방문자 인증'은 빙문하신 장소에 발급받은 '영수증' 또는 모바일 뱅킹의 '거래 내역'을 첨부해 주세요</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">충청남도 외의 다른 지역의 장소를 리뷰해도 되나요?</button>
            </h2>
            <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body pt-0">저희 사이트의 리뷰 시스템은 '충청남도 권역'(대전시, 세종시, 충청남도 및 그 외의 부속도서들)의 장소만을 대상으로 하고 있습니다. 충청남도 권역이 아닌 다른 지역의 장소 리뷰는 관리자의 의해 경고 없이 '삭제'조치될 수 있는 점 안내드립니다.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseOne">리뷰에 기재된 장소와 실제 장소가 달라요!</button>
            </h2>
            <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body pt-0">리뷰에 기재된 장소가 실제 장소와 다르거나, 해당 장소에 존재하지 않는 경우 <a href="mailto:phoenix@email.com">Email: phoenix@support.com.</a> 주소로 메일을 보내주시기 바랍니다.</div></div>
            </div>
          </div>
        
        <div class="text-center py-11">
          <h3 class="text-body-emphasis">원하는 답을 찾지 못하셨나요?</h3>
          <p class="text-body">궁금한 점을 보내주세요</p>
          <a class="btn btn-sm btn-outline-primary btn-support-chat" href="/question"><span class="fas fa-comment me-2"></span>문의 등록</a>
        </div>
</div>
</th:block>