<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Layout</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        body {
            background-color: rgba(0, 0, 0, 0.15);
        }
        .Restaurant-button {
            position: relative;
            transform: translate(-50%, -50%);
            transition: background-color 0.3s;
        }
        .Restaurant-button-stn {
            background-color: black;
            color: white;
            border-radius: 15px;
            padding: 1%;
            margin-right: 5px;
            transition: background-color 0.3s;
        }
        .Restaurant-button-stn:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }
        .modal-dialog-centered.modal-dialog-scrollable {
            max-width: 90%; /* 최대 너비 설정 */
            max-height: 90%; /* 최대 높이 설정 */
        }
        .button-group {
            display: flex;
            gap: 10px;
        }
          .file-input {
            display: none;
        }
        .file-label {
            display: inline-block;
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
        }
        .file-label:hover {
            background-color: #0056b3;
        }
        .preview {
            margin-top: 10px;
            max-width: 300px;
        }
        .button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }
    </style>
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="/vendors/simplebar/simplebar.min.js"></script>
    <script src="/assets/js/config.js"></script>
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="/vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="/assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="/assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
</head>
<body>
        <main class="main" id="top" style="background-color:white">
            <div class="bg-primary-subtle py-2">
                <div class="container-medium d-flex align-items-center justify-content-between">
                    <a class="btn btn-link p-0 text-body" href="/pages/authentication/card/sign-in.html">
                        <span class="fa-solid fa-arrow-right-to-bracket me-2" data-fa-transform="down-1"></span>Agent Login
                    </a>
                    <div class="dropdown">
                        <button class="btn btn-sm p-0 d-md-none fs-8" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                            <span class="fas fa-ellipsis-h"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" style="z-index: 9999">
                            <li><a class="dropdown-item" href="#!">Become a Host</a></li>
                            <li><a class="dropdown-item" href="#!">Blog</a></li>
                            <li><a class="dropdown-item" href="#!">Career</a></li>
                            <li><a class="dropdown-item" href="#!">Support</a></li>
                            <li><a class="dropdown-item" href="#!">+01 123 581321</a></li>
                        </ul>
                    </div>
                    <ul class="d-none d-md-flex gap-5 list-unstyled mb-0">
                        <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="#!">Become a Host</a></li>
                        <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="#!">Blog</a></li>
                        <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="#!">Career</a></li>
                        <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="mailto:example@gmail.com"><span class="fa-regular fa-envelope me-2" data-fa-transform="down-1"></span>Support</a></li>
                        <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="tel:+01123581321"><span class="fa-brands fa-whatsapp me-2"></span>+01 123 581321</a></li>
                    </ul>
                </div>
            </div>
            <div class="bg-body-emphasis sticky-top" data-navbar-shadow-on-scroll="data-navbar-shadow-on-scroll">
                <nav class="navbar navbar-landing navbar-expand-lg container-medium">
                    <a class="navbar-brand flex-1 flex-lg-grow-0 me-lg-13" href="/">
                        <div class="d-flex align-items-center">
                            <img src="/images/logo.png" alt="phoenix" width="70" />
                            <p class="logo-text ms-2">맛 탐정단</p>
                        </div>
                    </a>
                    <div class="d-flex align-items-center gap-2 gap-sm-3 gap-md-4 my-2 order-lg-1">
                        <div class="theme-control-toggle fa-icon-wait">
                            <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggleSm" />
                            <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="moon"></span></label>
                            <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="sun"></span></label>
                        </div>
                        <a class="btn btn-link text-body-tertiary p-0" href="#!"><span data-feather="map-pin" style="width: 18px; height: 18px"></span></a>
                        <a class="btn btn-link text-body-tertiary p-0" href="#!"><span data-feather="bell" style="width: 20px; height: 20px"></span></a>
                        <a class="btn btn-link text-body-tertiary p-0 me-2 me-lg-0" href="#!"><span data-feather="user" style="width: 20px; height: 20px"></span></a>
                    </div>
                    <div class="btn-group position-static text-nowrap" role="group">
                        <button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                            회원관리<span class="fas fa-angle-down ms-2"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/signup">회원가입</a></li>
                            <li><a class="dropdown-item" href="/signin">로그인</a></li>
                        </ul>
                    </div>
                    <div class="btn-group position-static text-nowrap" role="group">
                        <button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                            탐정노트(메뉴)<span class="fas fa-angle-down ms-2"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/Hotel">호텔</a></li>
                            <li><a class="dropdown-item" href="/enjoy">즐길거리</a></li>
                            <li><a class="dropdown-item" href="/restaurant">음식점</a></li>
                            <li><a class="dropdown-item" href="/pictures">사진추가</a></li>
                            <li><a class="dropdown-item" href="/restaurant/addrestaurant">장소추가</a></li>
                            <li><a class="dropdown-item" href="#">맛 탐정단 리뷰작성</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="/">지역주민 Best Pick</a></li>
                            <li><a class="dropdown-item" href="/">MBTI "P" 맞춤 여행지 추천</a></li>
                            <li><a class="dropdown-item" href="/">충청남도 추천 할인 관광지</a></li>
                        </ul>
                    </div>
                    <div class="btn-group position-static text-nowrap" role="group">
                        <button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                            고객관리<span class="fas fa-angle-down ms-2"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/faq">FAQ</a></li>
                            <li><a class="dropdown-item" href="/question">Q&A</a></li>
                            <li><a class="dropdown-item" href="/notice">공지사항</a></li>
                        </ul>
                    </div>
                    <div class="btn-group position-static text-nowrap" role="group">
                        <button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                            마이페이지<span class="fas fa-angle-down ms-2"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/">계정관리</a></li>
                            <li><a class="dropdown-item" href="/">회원탈퇴</a></li>
                            <li><a class="dropdown-item" href="/">리뷰관리</a></li>
                            <li><a class="dropdown-item" href="/">질문관리</a></li>
                            <li><a class="dropdown-item" href="/">타임라인 히스토리</a></li>
                        </ul>
                    </div>
                    <button class="navbar-toggler fs-8 ps-1 ps-sm-3 pe-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mt-3 mt-lg-0"></ul>
                    </div>
                </nav>
            </div>
        </main>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-xxl-6 mb-xxl-3">
                    <div class="card h-100">
                        <div class="card-body pb-3">
                            <div class="d-flex align-items-center mb-3" style="justify-content: center;">
                                <h4 class="me-1"><strong>봉구스 밥버거 공주대점</strong></h4>
                            </div>
                            <!-- 음식점 사진 -->
                            <img src="/assets/img/generic/34.png" alt="Sample Image" class="rounded img-fluid w-100 fit-cover mb-5 mb-md-6 mb-xl-3">
                            <div class="button-group">
                                <!-- 다른 가게 보기 버튼 -->
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal2">
                                    사진 모두 보기
                                </button>
                                  <!-- 사진 추가 버튼-->
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal3">사진 추가</button>
                             
                            </div>
                            <!-- Vertically centered scrollable modal -->
                            <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2Label" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modal2Label">봉구스 밥버거 공주대점의 사진</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    <!-- Repeat the image blocks for more images -->
                                                    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom:5px;">
                                                        <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden">
                                                            <img class="img-fluid" src="/assets/img/hotels/15.png" alt="Sample Image 1" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom:5px;">
                                                        <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden">
                                                            <img class="img-fluid" src="/assets/img/hotels/15.png" alt="Sample Image 2" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom:5px;">
                                                        <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden">
                                                            <img class="img-fluid" src="/assets/img/hotels/15.png" alt="Sample Image 3" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom:5px;">
                                                        <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden">
                                                            <img class="img-fluid" src="/assets/img/hotels/15.png" alt="Sample Image 1" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom:5px;">
                                                        <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden">
                                                            <img class="img-fluid" src="/assets/img/hotels/15.png" alt="Sample Image 2" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom:5px;">
                                                        <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden">
                                                            <img class="img-fluid" src="/assets/img/hotels/15.png" alt="Sample Image 3" />
                                                        </div>
                                                    </div>
                                                    <!-- Add more images as needed -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                            
                            <!-- Vertically centered scrollable modal2 -->
                            <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modal2Label" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modal2Label">봉구스 밥버거 공주대점의 사진</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    <!-- Repeat the image blocks for more images -->
                                                    <div class="container mt-5">
        <h2>이미지 업로드</h2>
       <!-- <form th:action="@{/restaurant/create}" method="post" enctype="multipart/form-data">
            <input type="file" name="file1" class="file-input" id="file1" accept="image/*">
            <div class="button-container">
                <label for="file1" class="file-label">사진 선택</label>
                <input type="hidden" name="location" value="${Restaurant.locationname}">
                <input type="submit" value="저장하기" class="btn btn-primary my-2">
            </div>
            <div id="previewContainer">
                <p>사진 추가 picture</p>
            </div>
        </form>-->
    </div>
    <script>
        document.getElementById('file1').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const previewContainer = document.getElementById('previewContainer');

                    // 기존의 미리보기 이미지가 있으면 제거
                    const existingImg = document.getElementById('imagePreview');
                    if (existingImg) {
                        previewContainer.removeChild(existingImg);
                    }

                    // 새로운 이미지 태그 생성
                    const img = document.createElement('img');
                    img.id = 'imagePreview';
                    img.src = e.target.result;
                    img.className = 'preview';
                    img.alt = 'Image preview...';

                    // 미리보기 컨테이너에 이미지 추가
                    previewContainer.appendChild(img);
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
                                                    <!-- Add more images as needed -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>
                            <!-- 주소, 전화번호 -->
                            <div class="d-flex align-items-center mb-3">
                                <h5 class="me-1"><strong>상세정보</strong></h5>
                            </div>
                            <p class="text-body-secondary">
                                <img src="/images/restaurant/map-pin.svg" alt="Tag SVG" height="20" style="margin-right: 5px;">충남 천안시 서북구 공대길 10 (우)31080<br>
                            </p>
                            <p class="text-body-secondary">
                                <img src="/images/restaurant/globe.svg" alt="Tag SVG" height="20" style="margin-right: 5px;">www.bongousse.net<br>
                            </p>
                            <p class="text-body-secondary">
                                <img src="/images/restaurant/phone.svg" alt="Tag SVG" height="20" style="margin-right: 5px;">041-908-9119<br>
                            </p>
                            <p class="text-body-secondary" style="margin-bottom:10px;">
                                <img src="/images/restaurant/clock.svg" alt="Tag SVG" height="20" style="margin-right: 5px;">영업시간<br>
                                <h6>09:00~20:00</h6>
                            </p>
                            <p class="text-body-secondary">
                                <img src="/images/restaurant/tag.svg" alt="Tag SVG" height="20" style="margin-right: 5px;">카테고리<br>#한식#양식#일식<br>
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xxl-6 mb-xxl-3">
                    <div class="card h-100">
                        <div class="card-body pb-3">
                            <div class="d-flex align-items-center mb-3" style="justify-content: center;">
                                <h5 class="me-1"><strong>메뉴</strong></h5>
                            </div>
                            <p class="text-body-secondary">해봉이 밥버거<br><strong>4,200원</strong><br></p>
                            <hr>
                            <p class="text-body-secondary">에햄 밥버거<br><strong>3,800원</strong><br></p>
                            <hr>
                            <p class="text-body-secondary">닭갈비 밥버거<br><strong>3,500원</strong><br></p>
                            <hr>
                            <p class="text-body-secondary">마요떡갈비 밥버거<br><strong>3,800원</strong><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
