<html layout:decorate="~{layout}">



<th:block layout:fragment="content" class="container">


</nav>

</main>
        
  <div class="container-medium my-3">
  
    <div class="row">
      <div class="col-12">
        <div class="card overflow-hidden">
          
          <div class="card-body p-0">
            

            <div class="row g-0">
              <div class="col-12 col-xl-5 border-end">
                <!-- 페이지의 왼쪽 부분 -->
                <div class="px-5 px-lg-6 py-4">
                  <img class="img-fluid d-block mx-auto"th:if="${not #lists.isEmpty(pictures)}" th:src="|${downpath}/${pictures[0].image1}|" alt="" style="max-height: 280px;min-height: 150px;" />
            <img class="img-fluid d-block mx-auto" th:unless="${not #lists.isEmpty(pictures)}" src="/images/naver.png" alt="" style="max-height: 280px;min-height: 150px;" />
            
            <div class="row gx-0 gy-3 border-bottom px-5 px-lg-6 py-4 p-xl-0">
              <div class="col-12 col-xl-7">
                <div class="px-xl-6 py-xl-4">
                  <div class="row g-2 align-items-center">
                    <div class="col-auto col-12 col-lg-auto d-flex flex-1">
                      <!-- 사진 추가 버튼 -->
                      <a class="d-sm-block btn btn-subtle-secondary dropdown-toggle dropdown-caret-none d-flex align-items-center me-2" th:href="@{|/picture/add/${restaurant.id}|}">
                        사진 추가 <span class="fa-solid fa-plus ms-2"></span>
                      </a>
                      <button type="button" class="d-none d-sm-block btn btn-subtle-secondary dropdown-toggle dropdown-caret-none d-flex align-items-center me-2" data-bs-toggle="modal" data-bs-target="#modal2">
                        사진 모두 보기
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
                  <h3 class="fw-bolder lh-sm mb-5" th:if="${not #strings.isEmpty(restaurant.locationname)}" th:text="${restaurant.locationname}"></h3>
                  <h3 class="fw-bolder lh-sm mb-5" th:unless="${not #strings.isEmpty(restaurant.locationname)}">음식점 이름을 알 수 없습니다.</h3>
                  
                  
                  <div class="mb-5">
                    <h6 class="text-body-secondary mb-2">태그</h6>
                    <div class="d-flex align-items-center">                      
                      <!-- <span class="badge badge-phoenix badge-phoenix-warning fs-10 me-2">주먹밥</span>
                      <span class="badge badge-phoenix badge-phoenix-success fs-10 me-2">맛집</span> -->
                      <label th:if="${not #lists.isEmpty(restaurant.category)}" th:each="category : ${restaurant.category}">
                          <span class="badge badge-phoenix badge-phoenix-info fs-10 me-2"th:if="${not #strings.isEmpty(restaurant.category)}" th:text="${category}"></span>
                      </label>
                           <span class="badge badge-phoenix badge-phoenix-info fs-10 me-2"th:unless="${not #strings.isEmpty(restaurant.category)}">추가된 태그가 없습니다.</span>
                      <a class="text-body fw-bolder fs-9 lh-1 text-decoration-none" href="#!"> <span class="fa-solid fa-plus me-1"></span>태그 추가</a>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="d-flex align-items-center mb-2">
                      <h4 class="me-3">상세 정보</h4>
                      <button class="btn btn-link p-0"><span class="fa-solid fa-pen"></span></button>
                    </div>
                    <p class="text-body-secondary">
                                <img src="/images/restaurant/map-pin.svg" alt="Tag SVG" height="20" style="margin-right: 5px;">
                                <label class="text-body-highlight mb-0 me-2 lh-1"   th:if="${not #strings.isEmpty(restaurant.location)}"th:text="${restaurant.location}"></label>
                                <label class="text-body-highlight mb-0 me-2 lh-1"  th:unless="${not #strings.isEmpty(restaurant.location)}">장소 정보가 없습니다.</label><br>
                            
                            <p class="text-body-secondary">
                                <img src="/images/restaurant/globe.svg" alt="Tag SVG" height="20" style="margin-right: 5px;">www.bongousse.net<br>
                            </p>
                            <p class="text-body-secondary">
                                <img src="/images/restaurant/phone.svg" alt="Tag SVG" height="20" style="margin-right: 5px;">
                                <label class="text-body-highlight mb-0 me-2 lh-1"   th:if="${not #strings.isEmpty(restaurant.cphone)}"th:text="${restaurant.cphone}"></label>
                                <label class="text-body-highlight mb-0 me-2 lh-1"  th:unless="${not #strings.isEmpty(restaurant.cphone)}">전화번호 정보가 없습니다.</label><br>
                            </p>
                            <p class="text-body-secondary" style="margin-bottom:10px;">
                                <img src="/images/restaurant/clock.svg" alt="Tag SVG" height="20" style="margin-right: 5px;">영업시간<br><p>
                                <label>
                                
                                </label>
                                <label class="text-body-highlight mb-0 me-2 lh-1"  th:if="${not #strings.isEmpty(restaurant.worktime)}" th:text="${restaurant.worktime}"></label>
                                <label class="text-body-highlight mb-0 me-2 lh-1" th:unless="${not #strings.isEmpty(restaurant.worktime)}" >영업시간 정보가 없습니다.</label>
                          <hr>  
                    <p class="text-body-highlight">The female circus horse-rider is a recurring subject in Chagall’s work. In 1926 the art dealer Ambroise Vollard invited Chagall to make a project based on the circus. They visited Paris’s historic Cirque d’Hiver Bouglione together; Vollard lent Chagall his private box seats. Chagall completed 19 gouaches...<a class="fw-semibold" href="#!">see more </a></p>
                  </div>
                </div>
              </div>
              <!-- 페이지의 왼쪽 부분 끝 -->
              <div class="col-12 col-xl-7">
                <div class="px-5 px-lg-6 py-4">
                  <div class="mb-7">
                    <h4 class="mb-4">메뉴 <span class="text-body-tertiary fw-normal fs-6">(23)</span></h4>
                    <div class="row align-items-center g-0 justify-content-between mb-3">
                      <div class="col-12 col-sm-auto">
                      </div>
                      <div class="col-auto d-flex">
                        <p class="mb-0 ms-sm-3 fs-9 text-body-tertiary fw-bold"><span class="fas fa-filter me-1 fw-extra-bold fs-10"></span>23개의 메뉴</p>
                        <button class="btn btn-link p-0 ms-3 fs-9 text-primary fw-bold"><span class="fas fa-sort me-1 fw-extra-bold fs-10"></span>정렬</button>
                      </div>
                    </div>
                    <!-- 메뉴 시작 -->
                    <div class="row justify-content-between align-items-md-center hover-actions-trigger btn-reveal-trigger border-translucent py-3 gx-0 border-top"th:if="${not #lists.isEmpty(restaurant.productmenu)}" th:each="productmenu, stat : ${restaurant.productmenu}">
                      <div class="col-12 col-lg-auto flex-1">
                        <div data-todo-offcanvas-toogle="data-todo-offcanvas-toogle" data-todo-offcanvas-target="todoOffcanvas-1">
                          <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1">
                            <label class="mb-0 fs-8 me-3 line-clamp-1" th:text="${productmenu}"></label>
                            <p class="text-body-highlight mb-0 me-2 lh-1"th:text="${restaurant.price[stat.index]} + '원'"></p>
                            <span class="badge badge-phoenix fs-10 badge-phoenix-primary"></span>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-lg-auto">
                        <div class="d-flex ms-4 lh-1 align-items-center">
                          <div class="d-none d-lg-block end-0 position-absolute" style="top: 23%;">
                            <div class="hover-actions end-0">
                              <button class="btn btn-phoenix-secondary btn-icon me-1 fs-10 text-body px-0 me-1"><span class="fas fa-edit"></span></button>
                              <button class="btn btn-phoenix-secondary btn-icon fs-10 text-danger px-0"><span class="fas fa-trash"></span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 메뉴 끝 -->
                    
                    <!-- 메뉴가 없을때 -->
                    <div class="row justify-content-between align-items-md-center hover-actions-trigger btn-reveal-trigger border-translucent py-3 gx-0 border-top"th:unless="${not #lists.isEmpty(restaurant.productmenu)}" >
                      <div class="col-12 col-lg-auto flex-1">
                        <div data-todo-offcanvas-toogle="data-todo-offcanvas-toogle" data-todo-offcanvas-target="todoOffcanvas-1">
                          <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1">
                            <label class="mb-0 fs-8 me-3 line-clamp-1" >메뉴 정보가 없습니다.</label>
                            <p class="text-body-highlight mb-0 me-2 lh-1">가격 정보가 없습니다.</p>
                            <span class="badge badge-phoenix fs-10 badge-phoenix-primary">신메뉴</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <!-- 메뉴 끝 -->
                    
                    
                    
                    <a class="fw-bold fs-9 mt-4" href="#!"><span class="fas fa-plus me-1"></span>메뉴 추가</a>
                  <!-- 지도 시작 -->
                  <div id="map" style="width:100%;height:350px;"></div>
	<div class="map_wrap">
    <div id="mapWrapper" style="width:50%;height:300px;float:left">
        <div id="map1" style="width:100%;height:100%"></div> <!-- 지도를 표시할 div 입니다 -->
    </div>
    <div id="rvWrapper" style="width:50%;height:300px;float:left">
        <div id="roadview" style="width:100%;height:100%"></div> <!-- 로드뷰를 표시할 div 입니다 -->
    </div>
</div>
	    
                  <!-- 지도 끝 -->
                  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8118060c10a6518e5f79855cb17590cd&libraries=services"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  
    

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
geocoder.addressSearch('[[${restaurant.location}]]', function(result, status) {

    // 정상적으로 검색이 완료됐으면 
     if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">[[${restaurant.location}]]</div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    } 
}); 

var mapWrapper = document.getElementById('mapWrapper'); //지도를 감싸고 있는 DIV태그

var mapContainer1 = document.getElementById('map1'), // 지도를 표시할 div 
    mapCenter = new kakao.maps.LatLng(33.450422139819736 , 126.5709139924533), // 지도의 가운데 좌표
    mapOption = {
        center: mapCenter, // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
var map1 = new kakao.maps.Map(mapContainer1, mapOption);
map1.addOverlayMapTypeId(kakao.maps.MapTypeId.ROADVIEW); //지도 위에 로드뷰 도로 올리기

var rvContainer = document.getElementById('roadview'); //로드뷰를 표시할 div
var rv = new kakao.maps.Roadview(rvContainer); //로드뷰 객체
var rvClient = new kakao.maps.RoadviewClient(); //좌표로부터 로드뷰 파노ID를 가져올 로드뷰 helper객체

toggleRoadview(mapCenter);

// 마커 이미지를 생성합니다.
var markImage = new kakao.maps.MarkerImage(
    'https://t1.daumcdn.net/localimg/localimages/07/2018/pc/roadview_minimap_wk_2018.png',
    new kakao.maps.Size(26, 46),
    {
        // 스프라이트 이미지를 사용합니다.
        // 스프라이트 이미지 전체의 크기를 지정하고
        spriteSize: new kakao.maps.Size(1666, 168),
        // 사용하고 싶은 영역의 좌상단 좌표를 입력합니다.
        // background-position으로 지정하는 값이며 부호는 반대입니다.
        spriteOrigin: new kakao.maps.Point(705, 114),
        offset: new kakao.maps.Point(13, 46)
    }
);

// 드래그가 가능한 마커를 생성합니다.
var rvMarker = new kakao.maps.Marker({
    image : markImage,
    position: mapCenter,
    draggable: true,
    map: map1
});

//마커에 dragend 이벤트를 할당합니다
kakao.maps.event.addListener(rvMarker, 'dragend', function(mouseEvent) {
    var position = rvMarker.getPosition(); //현재 마커가 놓인 자리의 좌표
    toggleRoadview(position); //로드뷰를 토글합니다
});

//지도에 클릭 이벤트를 할당합니다
kakao.maps.event.addListener(map1, 'click', function(mouseEvent){
    
    // 현재 클릭한 부분의 좌표를 리턴 
    var position = mouseEvent.latLng; 

    rvMarker.setPosition(position);
    toggleRoadview(position); //로드뷰를 토글합니다
});

geocoder.addressSearch('[[${restaurant.location}]]'
, function(result, status) {

    // 정상적으로 검색이 완료됐으면 
     if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map1,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: ''
        });
        infowindow.open(map1, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map1.setCenter(coords);
    } 
}); 
//로드뷰 toggle함수
function toggleRoadview(position){

    //전달받은 좌표(position)에 가까운 로드뷰의 panoId를 추출하여 로드뷰를 띄웁니다
    rvClient.getNearestPanoId(position, 50, function(panoId) {
        if (panoId === null) {
            rvContainer.style.display = 'none'; //로드뷰를 넣은 컨테이너를 숨깁니다
            mapWrapper.style.width = '100%';
            map1.relayout();
        } else {
            mapWrapper.style.width = '50%';
            map1.relayout(); //지도를 감싸고 있는 영역이 변경됨에 따라, 지도를 재배열합니다
            rvContainer.style.display = 'block'; //로드뷰를 넣은 컨테이너를 보이게합니다
            rv.setPanoId(panoId, position); //panoId를 통한 로드뷰 실행
            rv.relayout(); //로드뷰를 감싸고 있는 영역이 변경됨에 따라, 로드뷰를 재배열합니다
        }
    });
}
</script>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- 사진 모두 보기 모달 창-->
  <!-- Vertically centered scrollable modal -->
  <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal2Label">봉구스 밥버거 공주대점의 사진</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <!-- Repeat the image blocks for more images -->
              
                <div class="col-12 col-sm-6 col-md-4" style="margin-bottom:5px;" th:if="${not #lists.isEmpty(pictures)}" th:each="picture : ${pictures}">
                  <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden"style="border: 2px solid #b8b8b8;">
                    <img class="img-fluid" th:src="|${downpath}/${picture.image1}|" />
                  </div>
                </div>
              
              <div class="col-12 col-sm-6 col-md-4" style="margin-bottom:5px" th:unless="${not #lists.isEmpty(pictures)}">
                  <div class="hover-actions-trigger mx-auto rounded-3 overflow-hidden"style="border: 2px solid #b8b8b8;">
                    <img class="img-fluid" src="" />
                  </div>
                </div>
              <!-- Add more images as needed -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  





</th:block>