<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

<!-- 좌측 상단 메뉴 -->
<!--  참고 자료 https://place.map.kakao.com/m/19270876 -->
<div class="col-12 col-md-5 col-xxl-12 mb-xxl-3">
                  <div class="card h-100">
                    <div class="card-body pb-3">
                      <div class="d-flex align-items-center mb-3"style="justify-content: center">
                        <h4 class="me-1"><Strong>봉구스 밥버거 공주대점</Strong></h4>
                      </div>
                      <p class="text-body-secondary">해봉이 밥버거<br><Strong>4,200원</Strong><br></p>
                      <hr>
                      <p class="text-body-secondary">에햄 밥버거<br><Strong>3,800원</Strong><br></p>
                      <hr>
                      <p class="text-body-secondary">닭갈비 밥버거<br><Strong>3,500원</Strong><br></p>
                      <hr>
                      <p class="text-body-secondary">마요떡갈비 밥버거<br><Strong>3,800원</Strong><br></p>
                     <hr>
                    
                    </div>
                  </div>
                </div>
                
<div class="col-12 col-md-5 col-xxl-12 mb-xxl-3">
                  <div class="card h-100">
                    <div class="card-body pb-3">
                      <div class="d-flex align-items-center mb-3">
                        <h5 class="me-1"><Strong>메뉴</Strong></h5>
                      </div>
                      <p class="text-body-secondary">해봉이 밥버거<br><Strong>4,200원</Strong><br></p>
                      <hr>
                      <p class="text-body-secondary">에햄 밥버거<br><Strong>3,800원</Strong><br></p>
                      <hr>
                      <p class="text-body-secondary">닭갈비 밥버거<br><Strong>3,500원</Strong><br></p>
                      <hr>
                      <p class="text-body-secondary">마요떡갈비 밥버거<br><Strong>3,800원</Strong><br></p>
                     <hr>
                    
                    </div>
                  </div>
                </div>
                
                
<!-- 네비게이션바 -->
 
                <!-- End of 메뉴  -->
    
                <!-- End of accordion for mobile view -->
    
    <div></div>
    <br>
    <br>
</div>
</html>