<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

<!-- 좌측 상단 메뉴 -->
<!--  참고 자료 https://place.map.kakao.com/m/19270876 -->
<div class="col-12 col-md-5 col-xxl-12 mb-xxl-3">
                  <div class="card h-100">
                    <div class="card-body pb-3">
                      <div class="d-flex align-items-center mb-3">
                        <h3 class="me-1">메뉴</h3>
                        <button class="btn btn-link p-0"><svg class="svg-inline--fa fa-pen fs-8 ms-3 text-body-quaternary" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pen" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z"></path></svg><!-- <span class="fas fa-pen fs-8 ms-3 text-body-quaternary"></span> Font Awesome fontawesome.com --></button>
                      </div>
                      <h5 class="text-body-secondary">가격</h5>
                      <p class="text-body-secondary">해봉이 밥버거<br><Strong>4,200원</Strong><br></p>
                      <p class="text-body-secondary">에햄 밥버거<br><Strong>3,800원</Strong><br></p>
                      <p class="text-body-secondary">닭갈비 밥버거<br><Strong>3,500원</Strong><br></p>
                      <p class="text-body-secondary">마요떡갈비 밥버거<br><Strong>3,800원</Strong><br></p>
                     <li><hr class="dropdown-divider"></li>
                      <div class="mb-3"> 
                        <h5 class="text-body-secondary">Email</h5><a href="mailto:shatinon@jeemail.com">shatinon@jeemail.com</a>
                      </div>
                      <li><hr class="dropdown-divider"></li>
                      <h5 class="text-body-secondary">Phone</h5><a class="text-body-secondary" href="tel:+1234567890">+1234567890</a>
                    </div>
                  </div>
                </div>
<!-- 네비게이션바 -->
 
                <!-- End of 메뉴  -->
    
                <!-- End of accordion for mobile view -->
    
    <div></div>
    <br>
    <br>
    <div class="container-m3"><h1>dd</h1></div>
</div>
</html>