<!DOCTYPE html>
<html> 
<head>
<meta charset="UTF-8">
<title>admin/main</title>
</head>
<body>
 <table class="table">
        <thead class="table-dark">
        <tr>
        <th>번호</th>
            <th>고객번호</th>
            <th>아이디</th>
            <th>권한</th>
            <th>이메일</th>
            <th>주소</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="admin, loop : ${admins}">
            <td th:text="${admin.id}"></td>
            <td><a th:href="@{|/readdetail/${admin.id}|}" th:text="${admin.id}"></a></td>
            <td th:text="${admin.username}"></td>
            <td th:text="${admin.role}"></td>
            <td th:text="${admin.email}"></td>
            <td th:text="${admin.residence}"></td>
             </tr>
    </tbody>
</table>
</body>
</html>
