<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-navigation-type="default" data-navbar-horizontal-shape="default" lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>맛탐정단 sign up</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
   <!--  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicons/logo.ico">
    <!-- <link rel="manifest" href="/assets/img/favicons/manifest.json"> -->
<!--     <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-150x150.png"> -->
    <meta name="theme-color" content="#ffffff">
    <script src="/vendors/simplebar/simplebar.min.js"></script>
    <script src="/assets/js/config.js"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="/vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="/assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="/assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <script>
        var phoenixIsRTL = window.config.config.phoenixIsRTL;
        if (phoenixIsRTL) {
            var linkDefault = document.getElementById('style-default');
            var userLinkDefault = document.getElementById('user-style-default');
            linkDefault.setAttribute('disabled', true);
            userLinkDefault.setAttribute('disabled', true);
            document.querySelector('html').setAttribute('dir', 'rtl');
        } else {
            var linkRTL = document.getElementById('style-rtl');
            var userLinkRTL = document.getElementById('user-style-rtl');
            linkRTL.setAttribute('disabled', true);
            userLinkRTL.setAttribute('disabled', true);
        }
    </script>
</head>
<body>
    <main class="main" id="top">
        <div class="row vh-100 g-0">
            <div class="col-lg-6 position-relative d-none d-lg-block">
                <div class="bg-holder"><img src="/images/logo11.jpg" height="800px"></div>
            </div>
            <div class="col-lg-6">
                <div class="row flex-center h-100 g-0 px-4 px-sm-0">
                    <div class="col col-sm-6 col-lg-7 col-xl-6">
                        <a class="d-flex flex-center text-decoration-none mb-4" href="/">
                            <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img src="/images/logo.png" width="58" /></div>
                        </a>
                        <div class="text-center mb-7">
                            <h3 class="text-body-highlight">Sign Up</h3>
                            <p class="text-body-tertiary">Create your account today</p>
                        </div>
                        <button class="btn btn-phoenix-secondary w-100 mb-3">
                        <span class="fab fa-google text-danger me-2 fs-9"></span>Sign up with google
                       </button>
                       <a href="/naver">
                        <button class="btn btn-phoenix-secondary w-100">
                        <img src="/images/naver.png" height="15px"/>Sign up with naver
                        </button></a>
                        <div class="position-relative mt-4">
                            <hr class="bg-body-secondary" />
                            <div class="divider-content-center">or use email</div>
                        </div>

                        <!-- Thymeleaf form integration -->
                            
                            <form th:action="@{signup}" th:object="${userCreateForm}" method="post">
   								 <div th:replace="~{signup/form_error :: formErrorsFragment}"></div>

                            <div class="mb-3 text-start">
                                <label class="form-label" for="username">User id</label>
                                <input class="form-control" id="username" th:field="*{username}" type="text" placeholder="사용자" />
                            </div>

                            <div class="row g-3 mb-3">
                                <div class="col-md-6">
                                    <label class="form-label" for="email">Email address</label>
                                    <input class="form-control" id="email" th:field="*{email}" type="email" placeholder="name@example.com" />
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label" for="residence">Resident</label>
                                    <input class="form-control" id="residence" th:field="*{residence}" type="text" placeholder="거주지" />
                                </div>
                            </div>

                            <div class="row g-3 mb-3">
                                <div class="col-md-6">
                                    <label class="form-label" for="password">Password</label>
                                    <input class="form-control form-icon-input" id="password" th:field="*{password1}" type="password" placeholder="비밀번호" />
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label" for="confirm_password">Confirm Password</label>
                                    <input class="form-control form-icon-input" id="confirm_password" th:field="*{password2}" type="password" placeholder="비밀번호 확인" />
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary w-100 mb-3">회원가입</button>
                        </form>

                        <div class="text-center"><a class="fs-9 fw-bold" href="/signin">Sign in to an existing account</a></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/vendors/popper/popper.min.js"></script>
    <script src="/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/vendors/anchorjs/anchor.min.js"></script>
    <script src="/vendors/is/is.min.js"></script>
    <script src="/vendors/fontawesome/all.min.js"></script>
    <script src="/vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/vendors/list.js/list.min.js"></script>
    <script src="/vendors/feather-icons/feather.min.js"></script>
    <script src="/vendors/dayjs/dayjs.min.js"></script>
    <script src="/assets/js/phoenix.js"></script>
</body>
</html>
