<!DOCTYPE html>
<html data-navigation-type="default" data-navbar-horizontal-shape="default" lang="en-US" dir="ltr">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>지도보기</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="/vendors/simplebar/simplebar.min.js"></script>
    <script src="/assets/js/config.js"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
    <link href="/vendors/nouislider/nouislider.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="/vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="/assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="/assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <script>
        var phoenixIsRTL = window.config.config.phoenixIsRTL;
        if (phoenixIsRTL) {
            var linkDefault = document.getElementById('style-default');
            var userLinkDefault = document.getElementById('user-style-default');
            linkDefault.setAttribute('disabled', true);
            userLinkDefault.setAttribute('disabled', true);
            document.querySelector('html').setAttribute('dir', 'rtl');
        } else {
            var linkRTL = document.getElementById('style-rtl');
            var userLinkRTL = document.getElementById('user-style-rtl');
            linkRTL.setAttribute('disabled', true);
            userLinkRTL.setAttribute('disabled', true);
        }
    </script>

    <style>
        body {
            margin: 0;
        }
        .content-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px; /* 지도와 NavBar 사이의 공백을 줄이기 위해 조정 */
            height: 100vh;
            padding: 20px 0; /* 세로 중앙 정렬을 위해 패딩 추가 */
        }
        .map-container, .search-container {
            width: 800px;
        }
        #map {
            width: 100%;
            height: 500px;
        }
        .search-container {
            display: flex;
            justify-content: center;
        }
        .navbar {
            width: 100%;
        }
        .navbar .form-control {
            width: 600px; /* 검색창 길이 */
        }

    </style>

</head>

<body>

<main class="main" id="top">
    <div class="bg-primary-subtle py-2">
        <div class="container-medium d-flex align-items-center justify-content-between"><a class="btn btn-link p-0 text-body" href="/pages/authentication/card/sign-in.html"><span class="fa-solid fa-arrow-right-to-bracket me-2" data-fa-transform="down-1"></span>Agent Login</a>
            <div class="dropdown">
                <button class="btn btn-sm p-0 d-md-none fs-8" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
                <ul class="dropdown-menu dropdown-menu-end" style="z-index: 9999">
                    <li><a class="dropdown-item" href="#!">Become a Host</a></li>
                    <li><a class="dropdown-item" href="#!">Blog</a></li>
                    <li><a class="dropdown-item" href="#!">Career</a></li>
                    <li><a class="dropdown-item" href="#!">Support</a></li>
                    <li><a class="dropdown-item" href="#!">+01 123 581321</a></li>
                </ul>
            </div>
            <ul class="d-none d-md-flex gap-5 list-unstyled mb-0">
                <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="#!">Become a Host</a></li>
                <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="#!">Blog</a></li>
                <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="#!">Career</a></li>
                <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="mailto:example@gmail.com"> <span class="fa-regular fa-envelope me-2" data-fa-transform="down-1"></span>Support</a></li>
                <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="tel:+01123581321"> <span class="fa-brands fa-whatsapp me-2"></span>+01 123 581321</a></li>
            </ul>
        </div>
    </div>
    <div class="bg-body-emphasis sticky-top" data-navbar-shadow-on-scroll="data-navbar-shadow-on-scroll">
        <nav class="navbar navbar-landing navbar-expand-lg container-medium"><a class="navbar-brand flex-1 flex-lg-grow-0 me-lg-13" href="/">
            <div class="d-flex align-items-center"><img src="/images/logo.png" alt="phoenix" width="70" />
                <p class="logo-text ms-2">맛 탐정단</p>
            </div>
        </a>
        <div class="d-flex align-items-center gap-2 gap-sm-3 gap-md-4 my-2 order-lg-1">
            <div class="theme-control-toggle fa-icon-wait">
                <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggleSm" />
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="moon"></span></label>
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="sun"></span></label>
            </div><a class="btn btn-link text-body-tertiary p-0" href="#!"><span data-feather="map-pin" style="width: 18px; height: 18px"></span></a><a class="btn btn-link text-body-tertiary p-0" href="#!"><span data-feather="bell" style="width: 20px; height: 20px"></span></a><a class="btn btn-link text-body-tertiary p-0 me-2 me-lg-0" href="#!"><span data-feather="user" style="width: 20px; height: 20px"></span></a>
        </div>

        <div class="btn-group position-static text-nowrap" role="group">
            <button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                회원관리<span class="fas fa-angle-down ms-2"></span></button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/signup">회원가입</a></li>
                <li><a class="dropdown-item" href="/signin">로그인</a></li>

            </ul>
        </div>


        <div class="btn-group position-static text-nowrap" role="group">
            <button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                탐정노트(메뉴)<span class="fas fa-angle-down ms-2"></span></button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/Hotel">호텔</a></li>
                <li><a class="dropdown-item" href="/enjoy">즐길거리</a></li>
                <li><a class="dropdown-item" href="/Restaurant">음식점</a></li>
                <li><a class="dropdown-item" href="/pictures">사진추가</a></li>
                <li><a class="dropdown-item" href="/space">장소추가</a></li>
                <li><a class="dropdown-item" href="#">맛 탐정단 리뷰작성</a></li>

                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="/">지역주민 Best Pick</a></li>
                <li><a class="dropdown-item" href="/">MBTI "P" 맞춤 여행지 추천</a></li>
                <li><a class="dropdown-item" href="/">충청남도 추천 할인 관광지</a></li>

            </ul>
        </div>

        <div class="btn-group position-static text-nowrap" role="group">
            <button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                고객관리<span class="fas fa-angle-down ms-2"></span></button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/faq">FAQ</a></li>
                <li><a class="dropdown-item" href="/question">Q&A</a></li>
                <li><a class="dropdown-item" href="/notice">공지사항</a></li>

            </ul>
        </div>


        <div class="btn-group position-static text-nowrap" role="group">
            <button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                마이페이지<span class="fas fa-angle-down ms-2"></span></button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/">계정관리</a></li>
                <li><a class="dropdown-item" href="/">회원탈퇴</a></li>
                <li><a class="dropdown-item" href="/">리뷰관리</a></li>
                <li><a class="dropdown-item" href="/">질문관리</a></li>
                <li><a class="dropdown-item" href="/">타임라인 히스토리</a></li>


            </ul>
        </div>

        <button class="navbar-toggler fs-8 ps-1 ps-sm-3 pe-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mt-3 mt-lg-0">
            </ul>
        </div>
        </nav>
    </div>

    <div class="content-container">
    
        <!-- 주소 검색바 -->
        <div class="search-container">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand">장소 검색</a>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="주소를 입력해주세요" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">검색</button>
                    </form>
                </div>
            </nav>
        </div>

        <!-- 지도 -->
        <div class="map-container">
            <div id="map"></div>
        </div>
    </div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7ddc033ad4639fdc8816cff8106a8887"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
        mapOption = { 
            center: new kakao.maps.LatLng(36.5296003, 126.8590621), // 지도의 중심좌표
            level: 11 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 마커를 표시할 위치와 title 객체 배열입니다 
    var positions = [
        {
            title: '궁남지', 
            latlng: new kakao.maps.LatLng(36.2696047, 126.912228)
        },
        {
            title: '각원사', 
            latlng: new kakao.maps.LatLng(36.8342912, 127.1969417)
        },
        {
            title: '예당호', 
            latlng: new kakao.maps.LatLng(36.6385407, 126.8019006)
        },
        {
            title: '테딘워터파크', 
            latlng: new kakao.maps.LatLng(36.7569685, 127.223164)
        },
        {
            title: '독립기념관', 
            latlng: new kakao.maps.LatLng(36.7812042, 127.2264822)
        },
        {
            title: '예산시장', 
            latlng: new kakao.maps.LatLng(36.6772381, 126.8495587)
        },
        {
            title: '영목항 전망대', 
            latlng: new kakao.maps.LatLng(36.4021036, 126.4217952)
        },
        {
            title: '장항 송림산림욕장', 
            latlng: new kakao.maps.LatLng(36.0153114, 126.666332)
        },
        {
            title: '삽교호 놀이공원',
            latlng: new kakao.maps.LatLng(36.8901612, 126.8221439)
        }
    ];

    // 마커 이미지의 이미지 주소입니다
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 

    for (var i = 0; i < positions.length; i ++) {
        
        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(24, 35); 
        
        // 마커 이미지를 생성합니다    
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
        
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지 
        });
    }
</script>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/vendors/popper/popper.min.js"></script>
    <script src="/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/vendors/anchorjs/anchor.min.js"></script>
    <script src="/vendors/is/is.min.js"></script>
    <script src="/vendors/fontawesome/all.min.js"></script>
    <script src="/vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/vendors/list.js/list.min.js"></script>
    <script src="/vendors/feather-icons/feather.min.js"></script>
    <script src="/vendors/dayjs/dayjs.min.js"></script>
    <script src="/assets/js/phoenix.js"></script>
    <script src="/vendors/flatpickr/flatpickr.min.js"></script>
    <script src="/vendors/nouislider/nouislider.min.js"></script>

</body>

</html>
