<!DOCTYPE html>
<html data-navigation-type="default"
	data-navbar-horizontal-shape="default" lang="en-US" dir="ltr">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- ===============================================-->
<!--    Document Title-->
<!-- ===============================================-->
<title>전국의 맛탐전단이 찾은 찐 맛집 홈페이지</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
   <!--  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicons/logo.ico">
    <!-- <link rel="manifest" href="/assets/img/favicons/manifest.json"> -->
<!--     <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-150x150.png"> -->
    <meta name="theme-color" content="#ffffff">
    <script src="/vendors/simplebar/simplebar.min.js"></script>
    <script src="/assets/js/config.js"></script>


<!-- ===============================================-->
<!--    Stylesheets-->
<!-- ===============================================-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
	rel="stylesheet">
<link href="/vendors/simplebar/simplebar.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
<link href="/assets/css/theme-rtl.min.css" type="text/css"
	rel="stylesheet" id="style-rtl">
<link href="/assets/css/theme.min.css" type="text/css" rel="stylesheet"
	id="style-default">
<link href="/assets/css/user-rtl.min.css" type="text/css"
	rel="stylesheet" id="user-style-rtl">
<link href="/assets/css/user.min.css" type="text/css" rel="stylesheet"
	id="user-style-default">
<script>
	var phoenixIsRTL = window.config.config.phoenixIsRTL;
	if (phoenixIsRTL) {
		var linkDefault = document.getElementById('style-default');
		var userLinkDefault = document.getElementById('user-style-default');
		linkDefault.setAttribute('disabled', true);
		userLinkDefault.setAttribute('disabled', true);
		document.querySelector('html').setAttribute('dir', 'rtl');
	} else {
		var linkRTL = document.getElementById('style-rtl');
		var userLinkRTL = document.getElementById('user-style-rtl');
		linkRTL.setAttribute('disabled', true);
		userLinkRTL.setAttribute('disabled', true);
	}
</script>
<link href="/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">

<style>


/* 전체적인 스타일 */
body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2; /* 배경색 */
	text-align: center; /* 가운데 정렬 */
}

/* 검색 폼 스타일 */
form {
	display: inline-block; /* 인라인 블록 요소로 표시하여 가운데 정렬 */
	text-align: left; /* 텍스트 왼쪽 정렬 */
	background-color: #fff; /* 배경색 */
	padding: 20px;
	border: 1px solid #ccc; /* 테두리 설정 */
	border-radius: 10px; /* 모서리 둥글게 */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
	margin: 50px auto; /* 위아래 여백을 auto로 설정하여 중앙 정렬 */
	max-width: 600px; /* 최대 너비 설정 */
}


form h2 {
	font-size: 24px; /* 제목 폰트 크기 */
	margin-bottom: 20px; /* 아래 여백 */
}

.hotelName, .date {
	margin-bottom: 10px; /* 아래 여백 */
}

label {
	display: block; /* 블록 요소로 표시 */
	margin-bottom: 5px; /* 아래 여백 */
	font-weight: bold; /* 폰트 굵기 */
}

input[type="text"], input[type="date"] {
	width: calc(50% - 10px); /* 입력 필드 너비 */
	padding: 10px; /* 내부 여백 */
	margin-right: 10px; /* 우측 여백 */
	border: 1px solid #ccc; /* 테두리 설정 */
	border-radius: 5px; /* 모서리 둥글게 */
	font-size: 16px; /* 폰트 크기 */
	box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 너비 계산 */
}

#gallerywrapper {
	width: 640px;
	height: 450px;
	margin: 0 auto;
	position: relative;
	font-family: verdana, arial, sans-serif;
}

#gallerywrapper #gallery {
	position: absolute;
	left: 0;
	top: 0;
	height: 450px;
	width: 640px;
	overflow: hidden;
	text-align: center;
}

#gallerywrapper #gallery div {
	width: 640px;
	height: 900px;
	padding-top: 10px;
	position: static;
}

#gallerywrapper #gallery div img {
	clear: both;
	display: block;
	margin: 0 auto;
	border: 0;
}

#gallerywrapper #gallery div h3 {
	padding: 10px 0 0 0;
	margin: 0;
	font-size: 18px;
}

#gallerywrapper #gallery div p {
	padding: 5px 0;
	margin: 0;
	font-size: 8px;
	line-height: 10px;
}

#gallery .previous {
	display: inline;
	float: left;
	margin-left: 80px;
	text-decoration: none;
}

#gallery .next {
	display: inline;
	float: right;
	margin-right: 80px;
	text-decoration: none;
}
</style>


</head>
  <body class="bg-body-emphasis" style="--phoenix-scroll-margin-top: 1.2rem;">

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="bg-primary-subtle py-2">
       <!--  <div class="container-medium d-flex align-items-center justify-content-between"><a class="btn btn-link p-0 text-body" href="/pages/authentication/card/sign-in.html"><span class="fa-solid fa-arrow-right-to-bracket me-2" data-fa-transform="down-1"></span>Agent Login</a>
          <div class="dropdown"> -->
            <!-- <button class="btn btn-sm p-0 d-md-none fs-8" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
 --><!--             <ul class="dropdown-menu dropdown-menu-end" style="z-index: 9999">
              <li><a class="dropdown-item" href="#!">Become a Host</a></li>
              <li><a class="dropdown-item" href="#!">Blog</a></li>
              <li><a class="dropdown-item" href="#!">Career</a></li>
              <li><a class="dropdown-item" href="#!">Support</a></li>
              <li><a class="dropdown-item" href="#!">+01 123 581321</a></li>
            </ul> -->
          </div>
 <!--          <ul class="d-none d-md-flex gap-5 list-unstyled mb-0">
            <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="#!">Become a Host</a></li>
            <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="#!">Blog</a></li>
            <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="#!">Career</a></li>
            <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="mailto:example@gmail.com"> <span class="fa-regular fa-envelope me-2" data-fa-transform="down-1"></span>Support</a></li>
            <li><a class="lh-1 text-body-tertiary fw-semibold fs-9" href="tel:+01123581321"> <span class="fa-brands fa-whatsapp me-2"></span>+01 123 581321</a></li>
          </ul> -->
<!--         </div>
      </div> -->
      <div class="bg-body-emphasis sticky-top" data-navbar-shadow-on-scroll="data-navbar-shadow-on-scroll">
        <nav class="navbar navbar-landing navbar-expand-lg container-medium"><a class="navbar-brand flex-1 flex-lg-grow-0 me-lg-13" href="/">
            <div class="d-flex align-items-center"><img src="/images/logo.png" alt="phoenix" width="70" />
              <p class="logo-text ms-2">맛 탐정단</p>
            </div>
          </a>
          <div class="d-flex align-items-center gap-2 gap-sm-3 gap-md-4 my-2 order-lg-1">
            <div class="theme-control-toggle fa-icon-wait">
              <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggleSm" />
              <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="moon"></span></label>
              <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="sun"></span></label>
            
            
            
            </div><a class="btn btn-link text-body-tertiary p-0" href="/map"><span data-feather="map-pin" style="width: 18px; height: 18px"></span></a>
            
            
            <a class="btn btn-link text-body-tertiary p-0" href="#!"><span data-feather="bell" style="width: 20px; height: 20px"></span></a>
            
            
            
            
            
            
       <div class="dropdown">
  <a class="btn btn-link text-body-tertiary p-0 me-2 me-lg-0" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span data-feather="user" style="width: 20px; height: 20px"></span>
  </a>
  <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border" aria-labelledby="navbarDropdownUser">
    <div class="card position-relative border-0">
      <div class="card-body p-0">
        <div class="text-center pt-4 pb-3">
          <div class="avatar avatar-xl ">
            <img class="rounded-circle " src="assets/img/team/72x72/57.webp" alt="" />
          </div>
          <h6 class="mt-2 text-body-emphasis" th:text="${#authentication.name != 'anonymousUser'} ? ${#authentication.name} : 'Guest'"></h6>
        </div>
        <div class="mb-3 mx-3">
          <input class="form-control form-control-sm" id="statusUpdateInput" type="text" placeholder="Update your status" />
        </div>
      </div>
      <div class="overflow-auto scrollbar" style="height: 10rem;">
        <ul class="nav d-flex flex-column mb-2 pb-1">
          <li class="nav-item"><a class="nav-link px-3" href="#!"> <span class="me-2 text-body" data-feather="user"></span><span>Profile</span></a></li>
          <li class="nav-item"><a class="nav-link px-3" href="#!"><span class="me-2 text-body" data-feather="pie-chart"></span>Dashboard</a></li>
          <li class="nav-item"><a class="nav-link px-3" href="#!"> <span class="me-2 text-body" data-feather="lock"></span>Posts &amp; Activity</a></li>
          <li class="nav-item"><a class="nav-link px-3" href="/notice"> <span class="me-2 text-body" data-feather="settings"></span>공지사항 </a></li>
          <li class="nav-item"><a class="nav-link px-3" href="#!"> <span class="me-2 text-body" data-feather="help-circle"></span>Help Center</a></li>
          <li class="nav-item"><a class="nav-link px-3" href="/faq"> <span class="me-2 text-body" data-feather="globe"></span>Language</a></li>
        </ul>
      </div>
      <div class="card-footer p-0 border-top border-translucent">
        
        <ul class="nav d-flex flex-column my-3">
          <li class="nav-item"><a class="nav-link px-3" href="/admin/main"> <span class="me-2 text-body" data-feather="user-plus"></span>관리자 페이지</a></li>
        </ul>
        
        
        <hr />
        <div th:if="${#authentication.name == 'anonymousUser'}">
          <div class="px-3">
            <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="/signin"> 
              <span class="me-2" data-feather="log-in"></span>Sign in
            </a>
          </div>
          <div class="px-3">
            <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="/signup">
              <span class="me-2" data-feather="user-plus"></span>Sign up
            </a>
          </div>
        </div>
        <div th:if="${#authentication.name != 'anonymousUser'}">
          <div class="px-3">
            <a class="btn btn-phoenix-secondary d-flex flex-center w-100" th:href="@{/signup/signout}"> 
              <span class="me-2" data-feather="log-out"></span>Log out
            </a>
          </div>
        </div>
        <div class="my-2 text-center fw-bold fs-10 text-body-quaternary">
          <a class="text-body-quaternary me-1" href="#!">Privacy policy</a>&bull;
          <a class="text-body-quaternary mx-1" href="#!">Terms</a>&bull;
          <a class="text-body-quaternary ms-1" href="#!">Cookies</a>
        </div>
      </div>
    </div>
  </div>
</div>



          
          
          </div>
          
           <div class="btn-group position-static text-nowrap" role="group">
                      <button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                        회원관리<span class="fas fa-angle-down ms-2"></span></button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/signup">회원가입</a></li>
                        <li><a class="dropdown-item" href="/signin">로그인</a></li>
                        
                      </ul>
                    </div>
                    
                    
            <div class="btn-group position-static text-nowrap" role="group">
                      <button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                        탐정노트(메뉴)<span class="fas fa-angle-down ms-2"></span></button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/Hotel">호텔</a></li>
                        <li><a class="dropdown-item" href="/enjoy">즐길거리</a></li>
                        <li><a class="dropdown-item" href="/restaurant">음식점</a></li>
                        <li><a class="dropdown-item" href="/pictures">사진추가</a></li>
                        <li><a class="dropdown-item" href="/restaurant/addrestaurant">장소추가</a></li>
                        <li><a class="dropdown-item" href="/review">맛 탐정단 리뷰작성</a></li>
                       
                       <li>
                          <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="/bestpick">지역주민 Best Pick</a></li> 
                        <li><a class="dropdown-item" href="/mbti">MBTI "P" 맞춤 여행지 추천</a></li> 
                        <li><a class="dropdown-item" href="/discount">충청남도 추천 할인 관광지</a></li> 

                      </ul>
                    </div>
          
          <div class="btn-group position-static text-nowrap" role="group">
                      <button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                        고객관리<span class="fas fa-angle-down ms-2"></span></button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/faq">FAQ</a></li>
                        <li><a class="dropdown-item" href="/question">Q&A</a></li>
                        <li><a class="dropdown-item" href="/notice">공지사항</a></li>
                        
<!--                         <li>
                          <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li> -->
                      </ul>
                    </div>
                    
                    
            <div class="btn-group position-static text-nowrap" role="group">
                      <button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                        마이페이지<span class="fas fa-angle-down ms-2"></span></button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/">계정관리</a></li>
                        <li><a class="dropdown-item" href="/">회원탈퇴</a></li>
                        <li><a class="dropdown-item" href="/">리뷰관리</a></li>
                        <li><a class="dropdown-item" href="/">질문관리</a></li>
                        <li><a class="dropdown-item" href="/">타임라인 히스토리</a></li>
 

                      </ul>
                    </div>
                    </nav>
                    </div>

				<div>
					<div>
						<div>
							<h2>호 텔 / 숙 소</h2>

							<form action="/hotels" method="post">
								<div class="hotelName">
									<label for="hotel">호텔 이름:</label> <input type="text"
										id="hotel-name" name="hotel-name" placeholder="호텔 이름 입력">
								</div>

								<div class="date">
									<label for="checkin-date">체크인 날짜</label> <input type="date"
										id="checkin-date" name="checkin-date"> <label
										for="checkout-date">체크아웃 날짜</label> <input type="date"
										id="checkout-date" name="checkout-date">
								</div>
								<div class="rooms">
									<label for="rooms">인원수: </label><select>
										<option value="1명">1명</option>
										<option value="2명">2명</option>
										<option value="3명">3명</option>
										<option value="4명">4명 이상</option>
									</select>
								</div>
								<button type="button" onclick="search-hotel()">검색</button>
							</form>

							<div id="gallerywrapper">
								<div id="gallery">
									<div id="pic1">
										<img
											src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/08/63/c6/ab/1-1-2.jpg?w=300&h=300&"
											height="250" width="300" alt="Image 1">
										<h3>보령</h3>
										<p>보령은 한국의 서해안에 위치한 작은 시입니다. 이곳은 유명한 먹거리와 아름다운 해변으로 유명합니다.
											보령에서는 매년 해마다 유쾌한 축제가 열리며, 이곳에서만 즐길 수 있는 특별한 경험을 누릴 수 있습니다.
											이곳에서는 수많은 해변과 산책로, 그리고 역사적인 유적지를 방문할 수 있습니다. 보령은 국내외에서 많은
											관광객들이 찾는 곳이며, 이곳에서 즐길 수 있는 많은 경험들이 있습니다</p>
										<a class="previous" href="#pic8">&lt;</a> <a class="next"
											href="#pic2">&gt;</a>
									</div>
									<div id="pic2">
										<img
											src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/56/80/8b/caption.jpg?w=300&h=300&"
											height="250" width="300" alt="Image 2">
										<h3>천안</h3>
										<p>천안은 대한민국 충청남도의 중심지로, 서울과 대전의 중간에 위치해 있습니다. 이 도시는 교통이
											편리하고 역사적인 유산과 자연경관이 풍부합니다. 천안에는 많은 호텔이 있습니다.</p>
										<a class="previous" href="#pic1">&lt;</a> <a class="next"
											href="#pic3">&gt;</a>
									</div>
									<div id="pic3">
										<img
											src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/06/14/da/f9/hyeonchungsa-shrine.jpg?w=300&h=300&"
											height="250" width="300" alt="Image 3">
										<h3>부여</h3>
										<p>부여는 대한민국 충청남도에 위치한 작은 도시입니다. 이 곳은 2000년 전통을 자랑하는 역사적인
											장소로, 백제의 옛 수도였습니다. 부여는 한국에서 가장 아름다운 도시 중 하나로 여겨지며, 자연 경관과
											역사적인 유산으로 유명합니다. 또한, 부여는 한국에서 가장 인기있는 골프장 중 하나인 부여 골프장이 있어
											골퍼들에게 유명합니다.</p>
										<a class="previous" href="#pic2">&lt;</a> <a class="next"
											href="#pic4">&gt;</a>
									</div>
									<div id="pic4">
										<img
											src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/13/e9/92/0d/caption.jpg?w=300&h=300&"
											height="250" width="300" alt="Image 4">
										<h3>아산</h3>
										<p>아산은 충청남도에 위치한 도시로, 유네스코 세계문화유산인 온양온천과 가까운 거리에 위치해 있습니다.
											또한, 아산은 대한민국에서 가장 중요한 물류와 산업 중심지 중 하나입니다. 여행자들은 아산의 다양한 명소와
											맛집을 즐길 수 있습니다.</p>
										<a class="previous" href="#pic3">&lt;</a> <a class="next"
											href="#pic5">&gt;</a>
									</div>
									<div id="pic5">
										<img
											src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0b/1e/46/f0/caption.jpg?w=300&h=300&"
											height="250" width="300" alt="Image 5">
										<h3>태안</h3>
										<p>태안은 대한민국 충청남도에 위치한 시입니다. 이곳은 아름다운 해변과 자연 경관으로 유명합니다.
											태안에는 많은 해변과 섬이 있어서 해양 여행을 즐기기에 최적의 장소입니다. 또한, 태안에는 국립공원과 자연
											보호구역이 있어서 자연을 즐기기에도 좋습니다. 태안은 한국의 자연 경관을 즐기기에 최적의 장소 중 하나입니다.</p>
										<a class="previous" href="#pic4">&lt;</a> <a class="next"
											href="#pic6">&gt;</a>
									</div>
									<div id="pic6">
										<img
											src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/07/e0/31/ba/caption.jpg?w=300&h=300&"
											height="250" width="300" alt="Image 6">
										<h3>예산</h3>
										<p>예산은 한국의 충청남도에 위치한 작은 도시입니다. 이곳은 조용하고 평화로운 분위기를 자랑하며,
											도심에서 벗어나 조용한 여행을 즐길 수 있는 곳입니다. 예산에서는 다양한 체험 프로그램을 즐길 수 있습니다.</p>
										<a class="previous" href="#pic5">&lt;</a> <a class="next"
											href="#pic7">&gt;</a>
									</div>
									<div id="pic7">
										<img
											src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/07/b7/de/c4/spring-water-falling.jpg?w=300&h=300&"
											height="250" width="300" alt="Image 7">
										<h3>공주</h3>
										<p>공주는 한국의 중부 지방에 위치한 작은 도시입니다. 이곳은 한국의 역사와 문화를 체험할 수 있는
											곳으로 유명합니다. 공주는 백제 왕국의 옛 수도이며, 백제 문화 유적지로 유명합니다. 공주는 국내외
											관광객들에게 많은 사랑을 받는 도시입니다. 이곳에서는 역사와 문화를 경험할 수 있습니다.</p>
										<a class="previous" href="#pic6">&lt;</a> <a class="next"
											href="#pic8">&gt;</a>
									</div>
									<div id="pic8">
										<img
											src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/08/ec/de/e7/solmoe-holy-ground.jpg?w=300&h=300&"
											height="250" width="300" alt="Image 8">
										<h3>당진</h3>
										<p>당진시는 대한민국 충청남도에 위치한 아름다운 도시입니다. 이곳은 대한민국에서 가장 큰 화력발전소 중
											하나인 당진화력발전소가 있어서 대한민국의 전력 생산에 큰 역할을 합니다. 또한 이곳은 수도권과 충청 지방을
											연결하는 중요한 교통의 요지입니다. 당진시는 산과 바다, 호수 등 다양한 자연 경관을 자랑하며, 지역적인
											특산품인 당진배와 당진굴비 등이 유명합니다.</p>
										<a class="previous" href="#pic7">&lt;</a> <a class="next"
											href="#pic1">&gt;</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>



				<!-- ===============================================-->
				<!--    JavaScripts-->
				<!-- ===============================================-->
				<script src="/vendors/popper/popper.min.js"></script>
				<script src="/vendors/bootstrap/bootstrap.min.js"></script>
				<script src="/vendors/anchorjs/anchor.min.js"></script>
				<script src="/vendors/is/is.min.js"></script>
				<script src="/vendors/fontawesome/all.min.js"></script>
				<script src="/vendors/lodash/lodash.min.js"></script>
				<script
					src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
				<script src="/vendors/list.js/list.min.js"></script>
				<script src="/vendors/feather-icons/feather.min.js"></script>
				<script src="/vendors/dayjs/dayjs.min.js"></script>
				<script src="/assets/js/phoenix.js"></script>
				<script src="/vendors/isotope-layout/isotope.pkgd.min.js"></script>
				<script src="/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
				<script src="/vendors/isotope-packery/packery-mode.pkgd.min.js"></script>
				<script src="/vendors/bigpicture/BigPicture.js"></script>
				<script src="/vendors/typed.js/typed.umd.js"></script>
				<script src="/vendors/swiper/swiper-bundle.min.js"></script>
</body>

</html>
