<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<br>
<br>
<a href="/">메인</a>




<br>
<br>
<a href="/">메뉴</a>

<a href="/Hotel">호텔</a>
<a href="/Enjoy">즐길거리</a>


<a href="/Restaurant">음식점</a>
<a href="/pictures">사진추가</a>
<a href="/space">장소추가</a>


<!-- 사진추가 장소 추가를 리뷰작성에 포함시키는 것은 어떤지 의견 나누어보기 -->


<a href="/">여행</a>
<a href="/">리뷰작성</a>




<br>
<br>
<!-- 회원관리(로그인, 로그아웃, 회원가입 가능하게) -->

<a href="/signup">회원가입</a>

<a href="/signin">로그인</a>




<br>
<br>
<!-- 고객관리(FAQ,QNA, 공지사항) -->


<a href="/customer">고객관리</a>

<a href="/faq">FAQ</a>
<a href="/question">QNA</a>
<a href="/notice">공지사항</a>




<br>
<br>
<!-- 마이페이지 -->


<a href="/mypage">마이페이지</a>

<a href="/mypage/계정관리">계정관리</a>

<a href="/mypage/회원탈퇴">회원탈퇴</a>

<a href="/mypage/리뷰관리">리뷰관리</a>

<a href="/mypage/질문관리">질문관리</a>

<a href="/mypage/타임라인 히스토리">타임라인 히스토리</a>



</body>
</html>