<html layout:decorate="~{layout}">



<th:block layout:fragment="content" class="container">



  
          <button class="navbar-toggler fs-8 ps-1 ps-sm-3 pe-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mt-3 mt-lg-0">
            </ul>
          </div>
        </nav>
        
        
        
      </div>
      <div class="booking-hero-header d-flex align-items-center">
        <div class="bg-holder bg-holder overlay bg-opacity-50" style="background-image:url(/assets/video/travel.png);">
          <video class="bg-video" autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline">
            <source src="/images/movie.mp4" type="video/mp4" />
          </video>
        </div>
        <!--/.bg-holder-->

        <div class="container-medium position-relative z-5">
          <h2 class="text-secondary-lighter fs-5 fs-md-3 fw-normal mb-3">전국 맛 탐정들이</h2>
          <h1 class="fs-4 fs-md-1 text-white fw-normal mb-6 overflow-hidden">추천하는 충남 <span class="typed-text text-primary" data-typed-text="[&quot;&lt;span class=text-primary&gt;호텔?&lt;/span&gt;&quot;,&quot;&lt;span class=text-warning&gt;여행지?&lt;/span&gt;&quot;, &quot;&lt;span class=text-info&gt;음식점?&lt;/span&gt;&quot;, &quot;&lt;span class=text-success&gt;즐길거리?&lt;/span&gt;&quot;, &quot;&lt;span class=text-success&gt;test?&lt;/span&gt;&quot;]"></span></h1>
          <div class="input-group rounded-2 py-1 ps-2 w-lg-50 border border-light">
            <div class="form-icon-container flex-1 d-flex align-items-center" data-fa-transform="down-1"><span class="fa-solid fa-location-dot form-icon text-danger-light"></span>
            </div>
            <form action = "/searchkw" class="d-flex" role="search">
            <input class="form-control me-2" type="search"  name = "kw" placeholder="Search" aria-label="Search">
       		<button class="btn btn-outline-success" type="submit">검색</button>
            </form>
            </div>
          </div>
        </div>
    


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-6 pt-md-10 pb-10">

        <div class="container-medium">
          <div class="bg-holder d-none d-xl-block bg-left" style="background-image:url(/assets/img/bg/bg-left-27.png);background-size:auto;">
          </div>
          <!--/.bg-holder-->

          <div class="bg-holder d-none d-xl-block bg-right" style="background-image:url(/assets/img/bg/bg-right-27.png);background-size:auto;">
          </div>
          <!--/.bg-holder-->

          <div class="row g-3 position-relative">
            <div class="col-lg-6">
              <div class="row g-3">
                <div class="col-md-7">
                  <h4 class="fw-semibold mb-3">July</h4>
                  <h2 class="fs-4 fw-semibold mb-3 mb-md-4">지역주민 추천  <span class="text-primary-light fw-bold">Best Pick</span></h2>
                  <p class="mb-3 mb-md-0 text-body-tertiary">지역주민들이 직접 추천하는 7월달 Best 여행지를 만나보세요!!<span class="d-none d-lg-inline-block d-xl-none">... <!-- </span><span class="d-lg-none d-xl-inline"> .</span> --></p>
                </div>
                <div class="col-6 col-md-5">
                  <div class="img-zoom-hover position-relative h-100 rounded-3 overflow-hidden"><a href="#!"><img class="w-100 h-100 object-fit-cover" src="/images/logo2.png" alt="" /></a>
                    <div class="backdrop-faded"><a class="fw-bold fs-7 text-white stretched-link" href="#!">천안 독립기념관</a>
                      <p class="mb-0 text-white fs-9">대한민국 국가보훈부 산하 역사 박물관</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-5">
                  <div class="img-zoom-hover position-relative h-100 rounded-3 overflow-hidden"><a href="#!"> <img class="w-100 h-100 object-fit-cover" src="/images/logo4.png" alt="" /></a>
                    <div class="backdrop-faded"><a class="fw-bold fs-7 text-white" href="#!">궁남지</a>
                      <p class="mb-0 text-white fs-9">백제 무왕 때 만들어진 백제의 별궁 연못</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="img-zoom-hover position-relative h-100 rounded-3 overflow-hidden"><a href="#!"> <img class="w-100 h-md-100 object-fit-cover" src="/images/logo3.png" alt="" height="220" /></a>
                    <div class="backdrop-faded"><a class="fw-bold fs-7 text-white" href="#!">테딘 워터파크</a>
                      <p class="mb-0 text-white fs-9">어린이용 스플래시 풀, 테마별 놀이 공간, 실내 공간을 갖춘 가족형 워터파크</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex flex-column gap-3 h-100">
                <div class="img-zoom-hover position-relative h-100 rounded-3 overflow-hidden"><a href="#!"> <img class="w-100 h-lg-100 object-fit-cover" src="/images/logo1.png" alt="" height="220" /></a>
                  <div class="backdrop-faded"><a class="fw-bold fs-7 text-white" href="#!">각원사</a>
                    <p class="mb-0 text-white fs-9">각원사는 천안시 동남구에 있는 대한불교 조계종 사찰이다.1975년에 세워진 ‘태조산각원사’는 절집의 규모도 크지만 국내최고 크기의 불상</p>
                  </div>
                </div>
                
                
                
                <a href = "/bestpick">
                <button  class="btn btn-primary w-100 py-3 fs-8">Explore more<span class="fa-solid fa-chevron-right ms-2" data-fa-transform="down-2"></span></button>
           			  </a>
             
             
              </div>

            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <section class="pb-10 pt-0">
        <div class="bg-holder d-none d-md-block" style="background-image:url(/assets/img/bg/bg-left-28.png);background-size:7%;background-position:left 27%;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder d-none d-md-block" style="background-image:url(/assets/img/bg/bg-right-28.png);background-size:16%;background-position:right -25px;">
        </div>
        <!--/.bg-holder-->

        <div class="container-medium text-center mb-11 position-relative">
        
        
        
			<h3 class="mb-2 text-body-emphasis">
  				MBTI "P"를 위한 추천 여행지 
  	<a href="/mbti" style="color: red; text-decoration: none;"><추천받기></a>
</h3>

          <p class="text-body-tertiary mb-0">여행에 계획이란 사치일뿐,  맛 탐정단 추천 여행지는 바로 여기!!</p>
        </div>
        <div class="container-fluid px-sm-0">
          <div class="swiper-theme-container swiper-slide-nav-top">
            <div class="swiper-nav">
              <div class="swiper-button-next"><span class="fas fa-chevron-right text-primary" data-fa-transform="shrink-3"></span></div>
              <div class="swiper-button-prev"><span class="fas fa-chevron-left text-primary" data-fa-transform="shrink-3"></span></div>
            </div>
            <div class="swiper theme-slider" data-swiper='{"loop":true,"centeredSlides":true,"autoplay":true,"centeredSlidesBounds":true,"spaceBetween":16,"slidesPerView":1,"speed":1500,"breakpoints":{"576":{"slidesPerView":"auto"}}}'>
              <div class="swiper-wrapper">
                <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block" href="#!"><img class="w-100 w-sm-auto object-fit-cover" src="/images/logo2.png" alt="" height="220" />
                    <div class="img-backdrop-faded">
                      <div class="image-reveal-content mb-3">

                      </div>
                      <div class="d-flex align-items-center gap-2">
                        <h4 class="mb-0 text-white">천안 독립기념관</h4>
                      </div>
                    </div>
                    
                    
                  </a></div>
                <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block" href="#!"><img class="w-100 w-sm-auto object-fit-cover" src="/images/logo1.png" alt="" height="220" />
                    <div class="img-backdrop-faded">
                      <div class="image-reveal-content mb-3">

                     
                     
                      </div>
                      <div class="d-flex align-items-center gap-2">
                        <h4 class="mb-0 text-white">각원사</h4>
                      </div>
                    </div>
                    
                    
                    
                  </a></div>
                <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block" href="#!"><img class="w-100 w-sm-auto object-fit-cover" src="/images/logo3.png" alt="" height="220" />
                    <div class="img-backdrop-faded">
                      <div class="image-reveal-content mb-3">

                      
                      
                      
                      </div>
                      <div class="d-flex align-items-center gap-2">
                        <h4 class="mb-0 text-white">테딘워터파크</h4>
                      </div>
                    </div>
                    
                    
                    
                    
                  </a></div>
                <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block" href="#!"><img class="w-100 w-sm-auto object-fit-cover" src="/images/logo4.png" alt="" height="220" />
                    <div class="img-backdrop-faded">
                      <div class="image-reveal-content mb-3">

                      
                      
                      </div>
                      <div class="d-flex align-items-center gap-2">
                        <h4 class="mb-0 text-white">궁남지</h4>
                      </div>
                    </div>
                    
                    
                    
                  </a></div>
                <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block" href="#!"><img class="w-100 w-sm-auto object-fit-cover" src="/images/logo8.jpg" alt="" height="220" />
                    <div class="img-backdrop-faded">
                      <div class="image-reveal-content mb-3">

                      
                      
                      </div>
                      <div class="d-flex align-items-center gap-2">
                        <h4 class="mb-0 text-white">당진 삽교호</h4>
                      </div>
                    </div>
                    
                    
                    
                    
                  </a></div>
                <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block" href="#!"><img class="w-100 w-sm-auto object-fit-cover" src="/images/logo9.jpg" alt="" height="220" />
                    <div class="img-backdrop-faded">
                      <div class="image-reveal-content mb-3">



                      </div>
                      <div class="d-flex align-items-center gap-2">
                        <h4 class="mb-0 text-white">예산시장</h4>
                      </div>
                    </div>
                    
                    
                    
                  </a></div>
                <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block" href="#!"><img class="w-100 w-sm-auto object-fit-cover" src="/images/logo10.jpg" alt="" height="220" />
                    <div class="img-backdrop-faded">
                      <div class="image-reveal-content mb-3">
\
                        
                      </div>
                      <div class="d-flex align-items-center gap-2">
                        <h4 class="mb-0 text-white">천안 흥타령 축제</h4>
                      </div>
                    </div>
                    
                    
                    
                  </a></div>
                <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block" href="#!"><img class="w-100 w-sm-auto object-fit-cover" src="/images/logo11.jpg" alt="" height="220" />
                    <div class="img-backdrop-faded">
                      <div class="image-reveal-content mb-3">
                        <div class="d-flex align-items-center gap-2 mb-2"><span class="fa-solid fa-hotel text-secondary-lighter"></span>
                          <h6 class="mb-0 text-secondary-lighter fw-semibold">17 Hotels</h6>
                        </div>
                        <div class="d-flex align-items-center gap-2"><span class="fa-solid fa-tree-city text-secondary-lighter"></span>
                          <h6 class="mb-0 text-secondary-lighter fw-semibold">22 Tour Package</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center gap-2">
                        <h4 class="mb-0 text-white">예당호</h4>
                      </div>
                    </div>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-0">
        <div class="bg-holder d-none d-xl-block" style="background-image:url(/assets/img/bg/bg-left-29.png);background-size:auto;background-position:-15%;">
        </div>
\

        <div class="container-medium position-relative">
          <h3 class="mb-2 text-body-emphasis text-center text-xl-start">충청남도와 연계한 대박 할인 호캉스 상품</h3>
          <div class="d-xl-flex justify-content-between mb-5 text-center">
            
            <p class="mb-0 text-body-tertiary">더운 여름 호캉스를 즐기고 싶다면 바로 여기!!</p>
            
          <a href ="/discount">
            <button class="btn btn-link p-0 fs-8">View all<span class="fa-solid fa-chevron-right ms-2" data-fa-transform="shrink-3"></span></button>
          </a>  
          
          </div>
          <div class="row g-0 justify-content-center">
            <div class="col-sm-11 col-md-8 col-lg-6 col-xl-12">
              <div class="row gy-5 gx-xl-7 justify-content-between pe-4">
                <div class="col-xl-4">
                  <div class="card card-img-shift border-0 mx-auto">
                    <div class="rounded-3 overflow-hidden w-100 position-relative z-5"><img class="w-100" src="/images/logo5.jpg" alt="" height="250" />
                      <button class="btn btn-wish position-absolute top-0 end-0 mt-3 me-3"><span class="far fa-heart"></span></button>
                    </div>
                    <div class="card-body p-0">
                      <div class="card-content">
                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mb-4">
                          <div><span class="badge badge-phoenix px-1 me-2 badge-phoenix-warning">promoted</span><span class="badge badge-phoenix px-1 badge-phoenix-info">Couple package</span></div>
                          <h6><span class="fa-solid fa-star text-warning me-1"></span>4.8 (1.4k stay)</h6>
                        </div><a class="fw-bold fs-7 text-body-emphasis mb-2 text-primary-hover" href="#!">소노벨 변산</a><a class="fw-semibold text-body-tertiary mb-3 d-block" href="#!"><span class="me-1" data-feather="map-pin"></span>변산</a>
                        <h6 class="fe-semibold text-body-tertiary d-flex align-items-center gap-1 mb-4">From <span class="fw-bolder fs-7 text-body-highlight">$60.00</span>/ per night</h6>
                        <button class="btn btn-primary px-5">Book Now</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="card card-img-shift border-0 mx-auto">
                    <div class="rounded-3 overflow-hidden w-100 position-relative z-5"><img class="w-100" src="/images/logo6.jpg" alt="" height="250" />
                      <button class="btn btn-wish position-absolute top-0 end-0 mt-3 me-3"><span class="far fa-heart"></span></button>
                    </div>
                    <div class="card-body p-0">
                      <div class="card-content">
                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mb-4">
                          <div><span class="badge badge-phoenix px-1 me-2 badge-phoenix-warning">promoted</span><span class="badge badge-phoenix px-1 badge-phoenix-info">Couple package</span></div>
                          <h6><span class="fa-solid fa-star text-warning me-1"></span>4.8 (1.4k stay)</h6>
                        </div><a class="fw-bold fs-7 text-body-emphasis mb-2 text-primary-hover" href="#!">부여 롯데 리조트</a><a class="fw-semibold text-body-tertiary mb-3 d-block" href="#!"><span class="me-1" data-feather="map-pin"></span>부여</a>
                        <h6 class="fe-semibold text-body-tertiary d-flex align-items-center gap-1 mb-4">From <span class="fw-bolder fs-7 text-body-highlight">$90.00</span>/ per night</h6>
                        <button class="btn btn-primary px-5">Book Now</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="card card-img-shift border-0 mx-auto">
                    <div class="rounded-3 overflow-hidden w-100 position-relative z-5"><img class="w-100" src="/images/logo7.jpg" alt="" height="250" />
                      <button class="btn btn-wish position-absolute top-0 end-0 mt-3 me-3"><span class="far fa-heart"></span></button>
                    </div>
                    <div class="card-body p-0">
                      <div class="card-content">
                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mb-4">
                          <div><span class="badge badge-phoenix px-1 me-2 badge-phoenix-warning">promoted</span><span class="badge badge-phoenix px-1 badge-phoenix-info">Couple package</span></div>
                          <h6><span class="fa-solid fa-star text-warning me-1"></span>4.8 (1.4k stay)</h6>
                        </div><a class="fw-bold fs-7 text-body-emphasis mb-2 text-primary-hover" href="#!">천안 신라스테이</a><a class="fw-semibold text-body-tertiary mb-3 d-block" href="#!"><span class="me-1" data-feather="map-pin"></span>천안</a>
                        <h6 class="fe-semibold text-body-tertiary d-flex align-items-center gap-1 mb-4">From <span class="fw-bolder fs-7 text-body-highlight">$70.00</span>/ per night</h6>
                        <button class="btn btn-primary px-5">Book Now</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      
      <br>
      <br>
      <br>
      <section class="pb-7 pt-0 overflow-x-hidden">
        <div class="bg-holder d-none d-xl-block" style="background-image:url(/assets/img/bg/bg-left-31.png);background-size:22%;background-position:left;z-index:1;">
        </div>
   

        <div class="bg-holder d-none d-xl-block" style="background-image:url(/assets/img/bg/bg-right-31.png);background-size:15%;background-position:right bottom;z-index:1;">
        </div>
\

        
               <div class="bg-latest-posts"></div>
        <div class="container-medium text-center position-relative z-2">
          <h3 class="mb-2 text-body-emphasis"> 맛 탐정단들의 맛집 리뷰</h3>
          <p class="mb-0 text-body-tertiary mb-13">전국의 맞 탐정들이 찾은 충청남도 맛집 리뷰</p>
        </div>
        <div class="swiper-theme-container swiper-zooming-slider">
          <div class="swiper-container theme-slider" data-swiper='{"loop":true,"slidesPerView":1.3,"spaceBetween":32,"speed":2000,"autoplay":true,"centeredSlides":true,"breakpoints":{"540":{"slidesPerView":1.5},"768":{"slidesPerView":1.8},"1200":{"slidesPerView":2},"1530":{"slidesPerView":2.8}}}'>
            <div class="swiper-wrapper">
              <div class="swiper-slide rounded-3 overflow-hidden">
                <div class="position-relative w-100 h-100"><img class="w-100 h-100 object-fit-cover" src="/images/logo2.png"/>
                  <div class="backdrop-faded p-4 p-md-6">
                    <div class="d-flex align-items-center mb-2"><span class="text-secondary-lighter me-2" data-feather="calendar"></span>
                      <h6 class="mb-0 fw-semibold text-secondary-lighter pe-3 me-3 border-end">Monday, Nov 07, 2022</h6><span class="fa-solid fa-star text-warning fs-9 me-2"></span>
                      <h6 class="mb-0 text-secondary-lighter fw-semibold">4.8</h6>
                    </div><a class="text-white fw-bold fs-7" href="https://m.place.naver.com/place/11620331/home?entry=plt">천안 독립 기념관</a>
                    </div>
                </div>
              </div>
              <div class="swiper-slide rounded-3 overflow-hidden">
                <div class="position-relative w-100 h-100"><img class="w-100 h-100 object-fit-cover" src="/images/logo3.png"/>
                  <div class="backdrop-faded p-4 p-md-6">
                    <div class="d-flex align-items-center mb-2"><span class="text-secondary-lighter me-2" data-feather="calendar"></span>
                      <h6 class="mb-0 fw-semibold text-secondary-lighter pe-3 me-3 border-end">Monday, Nov 06, 2022</h6><span class="fa-solid fa-star text-warning fs-9 me-2"></span>
                      <h6 class="mb-0 text-secondary-lighter fw-semibold">4.5</h6>
                    </div><a class="text-white fw-bold fs-7" href="https://m.place.naver.com/place/13453213/home?entry=plt">테딘 워터파크</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide rounded-3 overflow-hidden">
                <div class="position-relative w-100 h-100"><img class="w-100 h-100 object-fit-cover" src="/images/logo4.png"/>
                  <div class="backdrop-faded p-4 p-md-6">
                    <div class="d-flex align-items-center mb-2"><span class="text-secondary-lighter me-2" data-feather="calendar"></span>
                      <h6 class="mb-0 fw-semibold text-secondary-lighter pe-3 me-3 border-end">Monday, Nov 05, 2022</h6><span class="fa-solid fa-star text-warning fs-9 me-2"></span>
                      <h6 class="mb-0 text-secondary-lighter fw-semibold">4.2</h6>
                    </div><a class="text-white fw-bold fs-7" href="https://m.place.naver.com/place/13302613/home?entry=plt"/>궁남지</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide rounded-3 overflow-hidden">
                <div class="position-relative w-100 h-100"><img class="w-100 h-100 object-fit-cover" src="/images/logo1.png"/>
                  <div class="backdrop-faded p-4 p-md-6">
                    <div class="d-flex align-items-center mb-2"><span class="text-secondary-lighter me-2" data-feather="calendar"></span>
                      <h6 class="mb-0 fw-semibold text-secondary-lighter pe-3 me-3 border-end">Monday, Nov 04, 2022</h6><span class="fa-solid fa-star text-warning fs-9 me-2"></span>
                      <h6 class="mb-0 text-secondary-lighter fw-semibold">4.5</h6>
                    </div><a class="text-white fw-bold fs-7" href="http://www.gakwonsa.or.kr/">각원사</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-nav">
            <div class="swiper-button-next"><span class="fas fa-chevron-right text-primary" data-fa-transform="shrink-3"></span></div>
            <div class="swiper-button-prev"><span class="fas fa-chevron-left text-primary" data-fa-transform="shrink-3"></span></div>
          </div>
        </div>
        <div class="text-center mt-12 position-relative z-2">
        
        
        
        
        <a href = "/review">
          <button class="btn btn-link p-0 fs-8">View all<span class="fa-solid fa-chevron-right ms-2" data-fa-transform="shrink-1"></span></button>
        </a>
        
        
        
        
        </div>
      </section>
    

</th:block>

