<html layout:decorate="~{layout}">



<th:block layout:fragment="content" class="container">

  
          <button class="navbar-toggler fs-8 ps-1 ps-sm-3 pe-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mt-3 mt-lg-0">
            </ul>
          </div>
                    </nav>
    
      <div class="content">
        <h2 class="mb-2 lh-sm">충청남도 추천 할인 관광지</h2>
        <p class="text-body-tertiary lead mb-2">'충남 투어패스'로 할인된 가격으로 여행 즐기기</p>
        <p>*충남 투어패스 : 24시간 또는 48시간 동안 충남지역 내 박물관, 전시관, 테마파크, 체험시설 등 유료 관광지를 비롯해 음식점, 카페 등을 할인 혜택을 받으며 이용할 수 있는 모바일 패스권</p>
        <a class="btn btn-link p-0" href="https://m.place.naver.com/place/1068858219/ticket" target="_blank">충남 투어패스 구매 링크<span class="ms-1" data-feather="chevron-right"></span></a>
        <div class="mt-4">
          <div class="row g-4">
            <div class="col-12 col-xl-10 order-1 order-xl-0">
              <div class="mb-9">
                <div class="card shadow-none border my-4" data-component-card="data-component-card">
                  <div class="card-header p-4 border-bottom bg-body">
                    <div class="row g-3 justify-content-between align-items-center">
                      <div class="col-12 col-md">
                        <h4 class="text-body mb-0" data-anchor="data-anchor">충남 투어패스 사업 참여 시군 (*참여지역 및 가맹점 혜택은 추가 확대될 예정)</h4>
                      </div>
                      <div class="col col-md-auto">
                        <nav class="nav justify-content-end doc-tab-nav align-items-center" role="tablist">
                        </nav>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="p-4 code-to-copy">
                      <div class="carousel slide carousel-fade" id="carouselExampleControls" data-bs-ride="carousel">
                        <div class="carousel-indicators">

                          <button class="active" type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>

                          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2"></button>

                          <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner rounded">
                          <div class="carousel-item active">
                            <img class="d-block w-100" style="height: 700px;" src="/images/discount/dis1.gif" alt="Failed to load" />
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" style="height: 700px;" src="/images/discount/dis2.jpg" alt="Failed to load" />
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" style="height: 700px;" src="/images/discount/dis3.jpg" alt="Failed to load" />
                          </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>

                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>

                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                <div class="card shadow-none border my-4" data-component-card="data-component-card">
                  <div class="card-header p-4 border-bottom bg-body">
                    <div class="row g-3 justify-content-between align-items-center">
                      <div class="col-12 col-md">
                        <h4 class="text-body mb-0" data-anchor="data-anchor">홍성군 여행 가이드</h4>
                      </div>
                      <div class="col col-md-auto">
                        <nav class="nav justify-content-end doc-tab-nav align-items-center" role="tablist">
                        </nav>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="p-4 code-to-copy">
                      <div class="carousel slide carousel-fade" id="carouselExampleCaptions" data-ride="carousel">
                        <div class="carousel-indicators">

                          <button class="active" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>

                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>

                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner rounded-1">
                          <div class="carousel-item active">
                            <img class="d-block w-100" style="height: 700px;" src="/images/discount/dis4.jpg" alt="Failed to load" />
                            <div class="carousel-caption d-none d-md-block">
                              <h5 class="text-white">속동전망대 홍성스카이타워 (SKY TOWER)</h5>
                              <p class="text-white">높이 65m의 초대형 전망대로 타워구조물에 256가지 색을 표현할 수 있는 RGB조명이 화려함을 더한다.<br>
													타워 상부에는 아찔한 스릴감과 재미를 선사할 66m 둘레의 스카이워크 체험시설이 조성되어 있다.<br>
													타워전망대에 올라서면 남쪽으로는 남당항을 너머 보령까지 북쪽으로는 궁리포구 뒤 서산까지 서해 전경을 조망할 수 있다.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" style="height: 700px;" src="/images/discount/dis5.jpg" alt="Failed to load" />
                            <div class="carousel-caption d-none d-md-block">
                              <h5 class="text-white">카페 홍담</h5>
                              <p class="text-white">홍성군의 홍담이라는 카페는 깔끔한 분위기의 농가 분위기가 물씬 풍기는 곳이다.<br>
													도시 청년들이라는 것과 자신들이 원하는 삶을 살기 위해 홍성으로 귀농해 꿈을 펼치고 있는<br>
													'홍성에 청년 농부들 왓슈' 멤버들이 홍성에 자리를 잡아가고 있다.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" style="height: 700px;" src="/images/discount/dis6.jpg" alt="Failed to load" />
                            <div class="carousel-caption d-none d-md-block">
                              <h5 class="text-white">용봉산 자연휴양림</h5>
                              <p class="text-white">충청남도 홍성군 홍북읍 상하리에 위치하고 있는 자연휴양림으로 병풍바위, 거북바위, 장군바위 등의<br>
                              						기암괴석과 다양한 종류의 수목으로 조화가 절경을 이루어 제2의 금강산이라 불리는 용봉산자연휴양림<br>
                              						산기슭에 위치하고 있어 주변 경관이 수려하다.</p>
                            </div>
                          </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>

                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>

                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="card shadow-none border my-4" data-component-card="data-component-card">
                  <div class="card-header p-4 border-bottom bg-body">
                    <div class="row g-3 justify-content-between align-items-center">
                      <div class="col-12 col-md">
                        <h4 class="text-body mb-0" data-anchor="data-anchor">청양군 관광 가이드</h4>
                      </div>
                      <div class="col col-md-auto">
                        <nav class="nav justify-content-end doc-tab-nav align-items-center" role="tablist">
                        </nav>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="p-4 code-to-copy">
                      <div class="carousel slide theme-slider text-center carousel-fade" id="controlStyledExample" data-ride="carousel">
                        <div class="carousel-indicators">

                          <button class="active" type="button" data-bs-target="#controlStyledExample" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>

                          <button type="button" data-bs-target="#controlStyledExample" data-bs-slide-to="1" aria-label="Slide 2"></button>

                          <button type="button" data-bs-target="#controlStyledExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner rounded">
                          <div class="carousel-item active">
                            <img class="d-block w-100" style="height: 700px;" src="/images/discount/dis8.jpg" alt="Failed to load" />
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" style="height: 700px;" src="/images/discount/dis7.jpg" alt="Failed to load" />
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" style="height: 700px;" src="/images/discount/dis9.jpg" alt="Failed to load" />

                          </div>

                          <button class="carousel-control-prev" type="button" data-bs-target="#controlStyledExample" data-bs-slide="prev">
                            <span class="fas fa-angle-left"></span>
                            <span class="sr-only">Previous</span>
                          </button>

                          <button class="carousel-control-next" type="button" data-bs-target="#controlStyledExample" data-bs-slide="next">
                            <span class="fas fa-angle-right"></span>
                            <span class="sr-only">Next</span>

                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                <div class="card shadow-none border my-4" data-component-card="data-component-card">
                  <div class="card-header p-4 border-bottom bg-body">
                    <div class="row g-3 justify-content-between align-items-center">
                      <div class="col-12 col-md">
                        <h4 class="text-body mb-0" data-anchor="data-anchor">충남 투어패스 이용 안내</h4>
                      </div>
                      <div class="col col-md-auto">
                        <nav class="nav justify-content-end doc-tab-nav align-items-center" role="tablist">
                        </nav>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="p-4 code-to-copy">
                      <div class="carousel slide carousel-fade" id="carouselExampleFade" data-ride="carousel">
                        <div class="carousel-inner rounded">
                          <div class="carousel-item active">
                            <img class="d-block w-100" style="height: 700px;" src="/images/discount/dis10.png" alt="Failed to load" />
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" style="height: 700px;" src="/images/discount/dis11.jpg" alt="Failed to load" />
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" style="height: 700px;" src="/images/discount/dis12.png" alt="Failed to load" />
                          </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>

                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>

                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-12 col-xl-2">
              <div class="position-sticky mt-xl-4" style="top: 80px;">
                <h5 class="lh-1">On this page </h5>
                <hr />
                <ul class="nav nav-vertical flex-column doc-nav" data-doc-nav="data-doc-nav">
                  <li class="nav-item"> <a class="nav-link" href="#carouselExampleControls">충남 투어패스 사업 참여 시군</a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="#carouselExampleCaptions">홍성군 여행 가이드</a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="#controlStyledExample">청양군 여행 가이드</a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="#carouselExampleFade">충남 투어패스 이용 안내</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
 </div>
 </th:block>